<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<h:head>

	<link rel="icon" type="image/ico" href="resources/IMG/favicon.ico" />

	<h:outputStylesheet name="CSS/bootstrap.css"></h:outputStylesheet>
	<h:outputStylesheet name="CSS/AccueilStagiaire.css"></h:outputStylesheet>
	<title>Ecole EQL - AFCEPF</title>
	
</h:head>
<body>
	<h:form>

	<div class="container-fluid bandeSup">
		<h:graphicImage style="width:160px; height:auto"
			class="img-thumbnail d-block" library="IMG" name="logo_ecole.JPG" />
		<div >
		<h:outputLabel class="utilisateur" value="Bonjour #{mbConnection.stagiaire.prenom}" />
		</div>

	</div >
	<div class="row">
		<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10" style="margin-top: 30px">
			<h2> Promotion #{mbAccueilStagiaire.promo.nom} </h2>
			<div class="center-block">
			<p:schedule id="schedule" value="#{mbAccueilStagiaire.eventModel}" widgetVar="myschedule" timeZone="GMT+2">
 
		            <p:ajax event="dateSelect" listener="#{mbAccueilStagiaire.onDateSelect}"  oncomplete="PF('eventDialog').show();" />
		            <p:ajax event="eventSelect" listener="#{mbAccueilStagiaire.onEventSelect}"  oncomplete="PF('eventDialog').show();" />
		            <p:ajax event="eventMove" listener="#{mbAccueilStagiaire.onEventMove}"  />
		            <p:ajax event="eventResize" listener="#{mbAccueilStagiaire.onEventResize}"  />
 
        	</p:schedule>
			</div>
			
	</div>
		</div>
		
	</h:form>
</body>
</html>
