<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:of="http://omnifaces.org/functions"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
</h:head>
<body>
	<ui:composition template="/MasterBootstrap.xhtml">
		<ui:define name="title">Accueil</ui:define>
		<ui:define name="CSS">
			<h:outputStylesheet name="CSS/Acceuil.css"></h:outputStylesheet>
		</ui:define>
		<ui:define name="content">
			<div class="contenu">
				<div class="formulaire">
					<h2>Les cursus valides</h2>
					<ui:repeat var="cursus" value="#{mbAdminHome.validCursi}">
						<h:outputLabel value="#{cursus.code}" />
						&nbsp;
						<h:outputLabel value="#{cursus.nom}" />
						<br />
					</ui:repeat>
				</div>
				
				<div class="formulaire">
					<h2>Liste des promotions</h2>
					<ui:repeat var="promo" value="#{mbPromo.promos}">
						<h:outputLabel value="#{promo.nom}" />
						&nbsp;du&nbsp; <h:outputLabel
							value="#{of:formatDate(promo.dateDebut, 'dd MMMM yyyy')}" />
						&nbsp;au&nbsp; <h:outputLabel
							value="#{of:formatDate(mbAdminHome.promoEndDate(promo), 'dd MMMM yyyy')}" />
						<br />
					</ui:repeat>
				</div>
				
				<div class="formulaire">
					<h2>Les cursus invalides</h2>
					<ui:repeat var="cursus" value="#{mbAdminHome.unValidCursi}">
						<h:outputLabel value="#{cursus.code}" />
						&nbsp;
						<h:outputLabel value="#{cursus.nom}" />
						<br />
					</ui:repeat>
				</div>
				
				<div class="formulaire">
					<h2>Les candidatures en attentes</h2>
					<ui:repeat var="candidate" value="#{mbAdminHome.allCandidates}">
						<h:outputLabel value="#{candidate.nom}" />
						&nbsp;
						<h:outputLabel value="#{candidate.cursusVise.nom}" />
						<br />
					</ui:repeat>
				</div>
			</div>
		</ui:define>
	</ui:composition>
</body>
</html>
