<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<h:outputStylesheet name="CSS/AjouterIntervenant.css">
	</h:outputStylesheet>
</h:head>

<h:body>

	<ui:composition template="/MasterBootstrap.xhtml">
		<ui:define name="CSS">
			<h:outputStylesheet name="CSS/AjouterIntervenant.css"></h:outputStylesheet>
		</ui:define>
		<ui:define name="title">Affecter un intervenant</ui:define>

		<ui:define name="content">
			<div class="contenu">
				<div class="formulaire">
					<h:form id="form">
					<br/>
						<h2 align="center">Affecter un intervenant</h2>
						<div class="center">


							<p:selectOneMenu id="promotion" value="#{mbIntervenant.promo}"
								style="width:100px; margin-right:20px; margin-top:2px"
								converter="omnifaces.SelectItemsConverter">
								<p:ajax listener="#{mbIntervenant.onPromoChange()}"
									update="dropMatiere" />
								<f:selectItem itemLabel="Promotion" itemValue=""
									noSelectionOption="true" />
								<f:selectItems var="promotion"
									value="#{mbIntervenant.promotions}" itemValue="#{promotion}"
									itemLabel="#{promotion.nom}" />
							</p:selectOneMenu>

							<p:selectOneMenu id="dropMatiere"
								value="#{mbIntervenant.cursusmatiere}"
								style="width:280px; margin-right:20px; margin-top:2px"
								converter="omnifaces.SelectItemsConverter">
								<f:selectItem itemLabel="Matière" itemValue=""
									noSelectionOption="true" />
								<f:selectItems var="cursusmatiere"
									value="#{mbIntervenant.matieres}"
									itemValue="#{CursusMatiere.matiere}"
									itemLabel="#{cursusmatiere.matiere.nom}" />
							</p:selectOneMenu>


							<p:selectOneMenu id="intervenant" value="#{mbIntervenant.interv}"
								style="width:180px; margin-right:20px; margin-top:2px"
								converter="omnifaces.SelectItemsConverter">
								<f:selectItem itemLabel="Intervenant" itemValue=""
									noSelectionOption="true" />
								<f:selectItems var="intervenant"
									value="#{mbIntervenant.intervenants}"
									itemValue="#{intervenant}"
									itemLabel="#{intervenant.nom} #{intervenant.prenom}" />
							</p:selectOneMenu>

						</div>
						<div class="center">
							<h:commandButton class="btn btn-dark mb-2"
								action="#{mbIntervenant.affecterIntervenantMatiere()}"
								update="message" value="Valider" />

						</div>



					</h:form>

					<h:form id="message" class="center">
						<p:outputLabel value="#{mbIntervenant.message}" />
					</h:form>
				</div>
			</div>
		</ui:define>
	</ui:composition>

</h:body>
</html>
