<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
</h:head>

<h:body>
	<ui:composition template="/MasterBootstrap.xhtml">

		<ui:define name="CSS">
			<h:outputStylesheet name="CSS/AjouterIntervenant.css"></h:outputStylesheet>
		</ui:define>

		<ui:define name="title">Ajouter un intervenant</ui:define>

		<ui:define name="content">
			<div class="contenu">
				<div class="formulaire">
					<h:form enctype="multipart/form-data">
						<h2 align="center" style="margin-top: 25px">Ajouter un
							intervenant</h2>
						<div align="center">
						<h:commandButton action="#{mbAjoutInterv.demo()}" value="D" />
						</div>
						<div class="center ">
						

							<div class="blocLabel">
								<h:outputLabel class="lbAjInt" value="Nom" />
								<h:outputLabel class="lbAjInt" value="Prénom" />
								<h:outputLabel class="lbAjInt" value="Adresse" />
								<h:outputLabel class="lbAjInt" value="Code postal" />
								<h:outputLabel class="lbAjInt" value="Ville" />
								<h:outputLabel class="lbAjInt" value="Date de naissance" />
								<h:outputLabel class="lbAjInt" value="Téléphone" />
								<h:outputLabel class="lbAjInt" value="Email" />
							</div>

							<div class="blocInput">
								<h:inputText value="#{mbAjoutInterv.interv.nom}" />
								<h:inputText value="#{mbAjoutInterv.interv.prenom}" />
								<h:inputText value="#{mbAjoutInterv.interv.adresse}" />
								<h:inputText value="#{mbAjoutInterv.interv.codePostal}" />
								<h:inputText value="#{mbAjoutInterv.interv.ville}" />
								<h:inputText value="#{mbAjoutInterv.interv.dateNaissance}">
									<f:convertDateTime pattern="dd/MM/yyyy" />
								</h:inputText>
								<h:inputText value="#{mbAjoutInterv.interv.tel}" />
								<h:inputText value="#{mbAjoutInterv.interv.mail}" />
							</div>

						</div>
						<div align="center" class="bloc1photo">
						<h:inputFile value="#{mbAjoutInterv.fichier}" />

						<h:commandButton class="btn btn-dark mb-2 buttonPhoto" value="Importer"
							action="#{mbAjoutInterv.sauvegarderPhoto()}"></h:commandButton>

					</div>
						<div class="center">
							<h:commandButton class="btn btn-dark mb-2"
								action="#{mbAjoutInterv.ajouterIntervenant()}" update="message"
								value="Ajouter" />
						</div>
						<div id="message" class="center">
							<h:outputLabel value="#{mbAjoutInterv.message}" />
						</div>

					</h:form>
				</div>
			</div>
		</ui:define>
	</ui:composition>

</h:body>
</html>
