<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

<h:head>
<h:outputStylesheet name="CSS/masterStyle.css"></h:outputStylesheet>
</h:head> 
<h:body>
	<ui:composition template="/master.xhtml">
	
		<ui:define name="title">Promo</ui:define>		
		<ui:define name="CSS">
			<h:outputStylesheet name="CSS/AjoutPromo.css"></h:outputStylesheet>
		</ui:define>		
		<ui:define name="content">
			<h:form>
				<a href="/web/ajoutPromo.xhtml">ajoutPromo</a>				
				<p:fieldset legend="ajouter une promo" style="margin-bottom:20px">
        			<h:panelGrid columns="2" cellpadding="5">
						<p:outputLabel for="popup" value="date de début " />
        				<p:datePicker id="popup" value="#{mbPromo.promo.dateDebut}" />
		 				<p:outputLabel value="numéro  " />
						<p:inputText value="#{mbPromo.promo.numero}" />
						<p:commandButton value="ajouter" action="#{mbPromo.ajouter()}" />
						<p:outputLabel value="#{mbPromo.msg}"/>
		        	</h:panelGrid>
    			</p:fieldset>
			</h:form>		 
		</ui:define>	
	</ui:composition>
</h:body> 
</html>
