<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">

<h:head>
	<!-- h:outputStylesheet css -->
</h:head>

<h:body>
	<ui:composition template="/MasterBootstrap.xhtml">
		<ui:define name="CSS">
			<h:outputStylesheet name="CSS/Absence.css"></h:outputStylesheet>
		</ui:define>
		
		<ui:define name="title">Ajouter une absence</ui:define>

		<ui:define name="content">
		<h2>Ajouter une absence</h2>
			<h:form>
				<div>
				
					<p:selectOneMenu id="promotion" value="#{mbAbsence.promotion}"
						style="width:125px; margin-right:20px; margin-top:2px"
						converter="omnifaces.SelectItemsConverter">
						<p:ajax listener="#{mbAbsence.onPromoChange()}"
							update="dropStagiaire" />
						<f:selectItem itemLabel="Promotion" itemValue=""
							noSelectionOption="true" />
						<f:selectItems var="promotion" value="#{mbAbsence.promotions}"
							itemValue="#{promotion}" itemLabel="#{promotion.nom}" />
					</p:selectOneMenu>

					<p:selectOneMenu id="dropStagiaire"
						value="#{mbAbsence.absence.stagiaire}"
						style="width:250px; margin-right:20px; margin-top:2px"
						converter="omnifaces.SelectItemsConverter">
						<f:selectItem itemLabel="Stagiaire" itemValue=""
							noSelectionOption="true" />
						<f:selectItems var="stagiaire"
							value="#{mbAbsence.stagiaires}"
							itemValue="#{stagiaire}"
							itemLabel="#{stagiaire.prenom} #{stagiaire.nom} " />
					</p:selectOneMenu>
					
						<p:selectOneMenu id="dropCours"
						value="#{mbAbsence.absence.cours}"
						style="width:250px; margin-right:20px; margin-top:2px"
						converter="omnifaces.SelectItemsConverter">
						<f:selectItem itemLabel="Cours" itemValue=""
							noSelectionOption="true" />
						<f:selectItems var="cours"
							value="#{mbAbsence.cours}"
							itemValue="#{cours}"
							itemLabel="#{cours.matiere.nom} le #{of:formatDate(cours.dateDebut, 'dd/MM/yyyy à HH:mm' )} " />
					</p:selectOneMenu>
					
				</div>
			</h:form>
		</ui:define>

	</ui:composition>
</h:body>
</html>
