
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
</h:head>

<h:body>
	<ui:composition template="/MasterBootstrap.xhtml">
		<ui:define name="CSS">
			<h:outputStylesheet name="CSS/AjouterMatiere.css"></h:outputStylesheet>
		</ui:define>
		
		<ui:define name="title">Programmer une RI</ui:define>


		<ui:define name="content">
			<br />
				<br />
					<br />
				
			<div align="center" class="formulaire">

				<h:form>
					<br />
					<br />
					<h2>Programmer une réunion d'information</h2>
					<br />
					<br />
					<h:outputLabel value="Date de la réunion:" />
					<br />
					<br />


					<p:calendar id="datetime" value="#{mbRI.date}"
						pattern="dd/MM/yyyy HH:mm" />
				
					<br />
					<br />
					<br />

					<p:selectOneMenu id="cursus" value="#{mbRI.cursus}"
						converter="omnifaces.SelectItemsConverter">
						<f:selectItem itemLabel="Cursus visé" itemValue=""
							noSelectionOption="true" />
						<f:selectItems var="cursus" value="#{mbRI.cursi}"
							itemValue="#{cursus}" itemLabel="#{cursus.nom}" />
					</p:selectOneMenu>

					<br />
					<br />
					<br />

					<p:selectOneMenu style="width:100px" id="Salle"
						value="#{mbRI.salle}" converter="omnifaces.SelectItemsConverter">
						<f:selectItem itemLabel="Salle :" itemValue=""
							noSelectionOption="true" />
						<f:selectItems var="salle" value="#{mbRI.salles}"
							itemValue="#{salle}" itemLabel="#{salle.num}" />
					</p:selectOneMenu>

					<br />
					<br />
					<br />
					<h:commandButton class="btn btn-dark mb-2"
						action="#{mbRI.AjouterRI()}" value="Ajouter" />

					<br />
					<br />
					<h:outputLabel class="msgValid" value="#{mbRI.message}" />
				</h:form>
			</div>
		</ui:define>
	</ui:composition>
</h:body>
</html>
