<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
</h:head>

<h:body>
	<ui:composition template="/MasterBootstrap.xhtml">
		<ui:define name="CSS">
			<h:outputStylesheet name="CSS/NouveauCursus.css"></h:outputStylesheet>
		</ui:define>

		<ui:define name="title">Ajouter une matière</ui:define>

		<ui:define name="content">
			<div class="contenu">
				<div class="formulaire">
					<h:form>
						<div class="blocCursus">
							<h2 style="margin-bottom: 40px;">Ajouter une matière</h2>
							<div align="center">
							<h:outputLabel style="margin-right:20px" value="Nom de la matière" />
							<h:inputText value="#{mbMatiere.matiere.nom}" />
							</div>
							<br />

							<h:outputLabel  value="#{mbMatiere.message}" />
							<br />
							<div align="center">
							<h:commandButton  class="btn btn-dark mb-2"
								action="#{mbMatiere.ajouterMatiere(mbMatiere.matiere)}"
								value="Ajouter" />
							</div>
						</div>
					</h:form>
				</div>
			</div>
		</ui:define>
	</ui:composition>
</h:body>
</html>
