<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<h:outputStylesheet name="CSS/AjoutPromo.css"></h:outputStylesheet>
</h:head>
<h:body>
	<ui:composition template="/MasterBootstrap.xhtml">

		<ui:define name="title">Programmer un cursus</ui:define>
		<ui:define name="CSS">
			<h:outputStylesheet name="CSS/AjoutPromo.css"></h:outputStylesheet>
		</ui:define>
		<ui:define name="content">
			<div class="contenu">
				<div class="formulaire">
					<h:form>
						<f:metadata>
							<f:event listener="#{mbPromo.preRender()}" type="preRenderView"></f:event>
							<f:event listener="#{mbPromo.postRender()}" type="postAddToView"></f:event>
						</f:metadata>
						<br/>
						<h2>Programmer un Cursus</h2>
						<div align="center" >
						
							<p:selectOneMenu style="margin-top:25px;margin-left:120px;margin-right:120px" id="cursus" value="#{mbPromo.promo.cursus}"
								converter="omnifaces.SelectItemsConverter">
								<f:selectItem itemLabel="Sélectionner un cursus" itemValue=""
									noSelectionOption="true" />
								<f:selectItems var="cursus" value="#{mbPromo.cursi}"
									itemValue="#{cursus}" itemLabel="#{cursus.nom}" />
							</p:selectOneMenu>

							<h:outputLabel for="popup" value="Date de début " />

							<p:datePicker id="popup" value="#{mbPromo.promo.dateDebut}"
								itemLabel="toto" />
						
							<br />
							<h:commandButton style="margin-top: 25px" class="btn btn-dark mb-2" value="ajouter"
								action="#{mbPromo.ajouter()}" update="info" />
						</div>
					</h:form>
					<h:form id="info" class="auCentre">
						<p:outputLabel class="alerte" value="#{mbPromo.msg}"></p:outputLabel>
					</h:form>
				</div>
			</div>
		</ui:define>
	</ui:composition>
</h:body>
</html>
