<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
</h:head>

<h:body>
	<ui:composition template="/MasterBootstrap.xhtml">
		<ui:define name="CSS">
			<h:outputStylesheet name="CSS/AjouterMatiere.css"></h:outputStylesheet>
		</ui:define>
		<ui:define name="title">Programmer une session de test</ui:define>

		<ui:define name="content" >
			<br /><br /><br />
					
			<div align="center" class="formulaire">
				<h:form>

					<br />
					<br />

					<h2>Programmer une session de test</h2>

					<br />
					<br />
					<br />
					<br />

					<h:outputLabel style="margin-right:25px" value="Date du test " />

				

					<p:calendar id="datetime" value="#{mbTest.dateDuTest}"
						pattern="MM/dd/yyyy HH:mm" />



					<p:selectOneMenu style="width:100px; margin-left:25px;" id="Salle" value="#{mbTest.salleDuTest}"
						converter="omnifaces.SelectItemsConverter">
						<f:selectItem itemLabel="Salle :" itemValue=""
							noSelectionOption="true" />
						<f:selectItems var="salle" value="#{mbTest.salles}"
							itemValue="#{salle}" itemLabel="#{salle.num}" />
					</p:selectOneMenu>

					<br />
					<br />
					<br />

					<h:commandButton action="#{mbTest.AjouterTest()}" value="Ajouter"
						class="btn btn-dark mb-2" />

					<br />
					<br />

					<h:outputLabel class="msgValid" value="#{mbTest.message}" />

				</h:form>
			</div>
		</ui:define>
	</ui:composition>
</h:body>
</html>
