<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui">
​
<body>
	<h:head>
		<link rel="icon" type="image/ico" href="resources/IMG/favicon.ico" />
		<h:outputStylesheet name="CSS/bootstrap.css"></h:outputStylesheet>
		<h:outputStylesheet name="CSS/connection.css"></h:outputStylesheet>
		<title>Connexion</title>
		<link rel="icon" type="image/ico" href="resources/IMG/favicon.ico" />
	</h:head>
	​
	<h:graphicImage style="width:200px; height:auto"
		class="img-rounded d-block mx-auto logoAFC" library="IMG"
		name="logo_ecole.JPG" />
	​
	<div
		class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-md-offset-4 blocConnex">
		<label class="ttrConnex">Connectez-vous : </label>
		<h:form>
			<p:selectOneMenu class="toto" id="role" value="#{mbConnection.role}">
				<f:selectItem class="toto" itemLabel="Vous êtes ..." itemValue=""
					noSelectionOption="true" />
				<f:selectItems class="toto" value="#{mbConnection.roles}" />
			</p:selectOneMenu>
			<br />

			<label class="lbConnexL">Identifiant</label>
			<h:inputText class="inputConnexL" value="#{mbConnection.login}" />
			<br />

			<label class="lbConnexP">Mot de passe</label>
			<h:inputSecret class="inputConnexP" value="#{mbConnection.password}" />
			<br />

			<h:outputLabel value="#{mbConnection.message}" />
			<br />

			<div class="bloc6 blocCenter">
				<h:commandButton class="btn btn-dark mb-2"
					action="#{mbConnection.seConnecter()}" value=" Enregister " />
			</div>
		</h:form>
	</div>
	​
</body>
</html>