<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head></h:head>
<h:body>
	<ui:composition template="/MasterBootstrap.xhtml">

		<ui:define name="CSS">
			<h:outputStylesheet name="CSS/CreationLoginPassword.css"></h:outputStylesheet>
		</ui:define>

		<ui:define name="title">Gestion des identifiants et des mots de passe</ui:define>

		<ui:define name="content">
		<br/>
		<br/>
	<div class="formulaire">
			<div class="blocA">

				<h:form>
					<h2 align="center" style="margin-bottom: 50px">Gestion
						des identifiants et des mots de passe</h2>
					<div class="blocB">
						<label style="margin-right: 15px;margin-top:4px;">Type de personne</label>

						<p:selectOneMenu id="role" value="#{mbIdentifiants.profil}" converter="omnifaces.SelectItemsConverter">
							<f:selectItem itemLabel="Sélectionnez" itemValue=""
								noSelectionOption="true" />
							<f:selectItems var="profil" value="#{mbIdentifiants.profils}" itemLabel="#{profil.nom}" />
						</p:selectOneMenu>
					</div>

					<div class="blocB">
						<label style="margin-right: 15px">Rechercher par nom</label>
						<h:inputText value="#{mbIdentifiants.name}" />
						<h:commandButton class="btn btn-dark mb-2" style="margin-left:20px" action="#{mbIdentifiants.afficherPersonnes()}"
							value=" OK " />
					</div>
					</h:form>
					<h:form>

					<div class="blocC">
						<ui:repeat id="stg" var="stag"
							value="#{mbIdentifiants.stagiaires}">
							<div class="center-block blocPN">
								<h:outputLabel style="margin-right: 10px" id="prenom" value="#{stag.prenom}" />
								<h:outputLabel style="margin-right: 10px" id="nom" value="#{stag.nom}" />
								
								<h:commandButton class="btn btn-outline-dark mb-2 boutonV"
									action="#{mbIdentifiants.selectCeStagiaire(stag)}"
									value="Confirmez le choix de ce stagiaire" />
							<br/>
							</div>
						</ui:repeat>

						<ui:repeat id="int" var="interv"
							value="#{mbIdentifiants.intervenants}">
							<div>
								<h:outputLabel id="prenom" value="#{interv.prenom}" />
								<h:outputLabel id="nom" value="#{interv.nom}" />
								<h:commandButton class="btn btn-outline-dark mb-2 boutonV" value="Sélectionnez" />
							</div>
						</ui:repeat>

						<ui:repeat id="adm" var="admin"
							value="#{mbIdentifiants.administrateurs}">
							<div>
								<h:outputLabel id="prenom" value="#{admin.prenom}" />
								<h:outputLabel id="nom" value="#{admin.nom}" />
								<h:commandButton class="btn btn-outline-dark mb-2 boutonV" value="Sélectionnez" />
							</div>
						</ui:repeat>
					</div>
					<div align="center">
					<h:outputLabel value="#{mbIdentifiants.messagebis}" />
					</div>
					<div class="blocB">
						<label style="margin-right:15px">Entrez un login</label>
						<h:inputText style="margin-right:20px" value="#{mbIdentifiants.login}" />
						<label style="margin-left:20px;margin-right:15px">Entrez un mot de passe</label>
						<h:inputText value="#{mbIdentifiants.password}" />
					</div>
					<div class="blocB">
						<h:commandButton class="btn btn-dark mb-2"
							action="#{mbIdentifiants.enregistrerLoginPasswordStag}"
							value=" OK " />
							<br/>
						<h:outputLabel value="#{mbIdentifiants.message}" />
					</div>
				</h:form>
			</div>
				</div>
		</ui:define>

	</ui:composition>

</h:body>
</html>
