<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

<h:head>
	<h:outputStylesheet name="CSS/NouveauCursus.css"></h:outputStylesheet>
</h:head>

<h:body>
	<ui:composition template="/MasterBootstrap.xhtml">

		<ui:define name="title">Modifier Cursus</ui:define>

		<ui:define name="CSS">
			<h:outputStylesheet name="CSS/NouveauCursus.css"></h:outputStylesheet>
		</ui:define>

		<ui:define name="content">
			<h:form id="form">

				<fieldset class="creerCursus">
					<legend>Modifier un cursus</legend>
					<div class="infosCursus">
						<label>Nom du cursus :</label>
						<p:inputText class="inputNom" value="#{mbNouveauCursus.nouveauCursus.nom}" /><br/>
						<label>Sigle du cursus :</label>
						<p:inputText class="inputSigle" value="#{mbNouveauCursus.nouveauCursus.code}" /><br/>
						<label>Durée théorique du cursus :</label>
						<p:inputText class="inputSigle" value="#{mbNouveauCursus.nouveauCursus.dureeTheoriq}" /><br/>
					</div>
					
	  <p:dataTable id="matiereDT" var="matiereCursus" value="#{mbNouveauCursus.matiereCursusDuCursus}">
        <f:facet name="header">
            Matiere du cursus
        </f:facet>
        <p:column headerText="Nom">
            <h:outputText value="#{matiereCursus.matiere.nom}" />
        </p:column>
        
        <p:column headerText="Durée (en demi-journée)">
            <h:outputText value="#{matiereCursus.duree}" />
        </p:column>
        
        <p:column style="text-align: center">
       

            
             <p:commandButton action = "#{mbNouveauCursus.descendre()}" value="\/" title="Supprimer"  ajax="false">
            
                <f:setPropertyActionListener value="#{matiereCursus}" target="#{mbNouveauCursus.cursusMatiereSelectionne}"/>
            </p:commandButton>
            
           <p:commandButton action = "#{mbNouveauCursus.monter()}" value="/\" title="Supprimer"  ajax="false">
            
                <f:setPropertyActionListener value="#{matiereCursus}" target="#{mbNouveauCursus.cursusMatiereSelectionne}" />
            </p:commandButton>
            
            
        </p:column>
        
              <p:column style="text-align: center">
       
          
             <p:commandButton action = "#{mbNouveauCursus.supprimer()}" value="Supprimer" title="Supprimer"  ajax="false">
            
                <f:setPropertyActionListener value="#{matiereCursus}" target="#{mbNouveauCursus.cursusMatiereSelectionne}" />
            </p:commandButton>
        </p:column>
    </p:dataTable>
    <br/>
					<Label>Ajouter une matiere :</Label><br/>
					
				<p:selectOneMenu id="matiere" value="#{mbNouveauCursus.matiereAjoutee}"
				 converter="omnifaces.SelectItemsConverter">
					<f:selectItem itemLabel="Matiere" itemValue=""
						noSelectionOption="true" />
					<f:selectItems var="matiere" value="#{mbNouveauCursus.matieres}" itemValue="#{matiere}" itemLabel="#{matiere.nom}"/>
				</p:selectOneMenu><br/>
				
				<label>Durée de la matière :</label><br/>
						<p:inputText class="inputSigle" value="#{mbNouveauCursus.dureeSelectionne}" /><br/>
				
				
				<p:commandButton action="#{mbNouveauCursus.ajouter()}" value="ajouter la matiere" /><br/>
					
					<p:outputLabel value="#{mbNouveauCursus.message}" /><br/>
					<div align="center">
						<p:commandButton action="#{mbNouveauCursus.valider()}" value="Valider"  rendered="#{mbNouveauCursus.visibiliteBoutonValider()}"/>
						<p:outputLabel value="Cursus validé le" rendered="#{!mbNouveauCursus.visibiliteBoutonValider()}"></p:outputLabel><p:outputLabel value="#{mbNouveauCursus.nouveauCursus.dateValidation}" rendered="#{!mbNouveauCursus.visibiliteBoutonValider()}"><f:convertDateTime type="date" pattern="dd/MM/yyyy"/></p:outputLabel><br/>
						<p:commandButton action="#{mbNouveauCursus.invalider()}" value="Invalider"  rendered="#{mbNouveauCursus.visibiliteBoutonInvalider()}"/>
					
					
					</div>
					<br/><br/>
				</fieldset>


			</h:form>
		</ui:define>

	</ui:composition>
</h:body>
</html>
