<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

<h:head>
	
</h:head> 
<body> 
	<ui:composition template="/MasterBootstrap.xhtml">
		<ui:define name="title">FichePromo</ui:define>
		<ui:define name="content">
			<h:form>
				<h1>Fiche Promo #{mbFichePromo.promo.nom}</h1>
				<h:outputLabel value="#{mbFichePromo.promo.nom}" />	
				
				<fieldset>
					<p:outputLabel value="#{mbFichePromo.msg}"/>
					<p:outputLabel value="Fin de session le #{mbFichePromo.finPromo}"></p:outputLabel>
				</fieldset>			
					
			</h:form>
		</ui:define>
	
	</ui:composition>

</body> 
</html>
