<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" 
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">


<h:head></h:head>
<h:body>
	<ui:composition template="/MasterBootstrap.xhtml">
		<ui:define name="title">Fiche de #{mbFicheStagiaire.stagiaire.prenom} #{mbFicheStagiaire.stagiaire.nom}</ui:define>
		<ui:define name="CSS">
			<h:outputStylesheet name="CSS/FicheStagiaire.css"></h:outputStylesheet>
		</ui:define>

		<ui:define name="preRender">
			<f:metadata>
				<f:event listener="#{mbFicheStagiaire.rechargerStagiaire()}"
					type="preRenderView"></f:event>
			</f:metadata>
		</ui:define>
		
		
		<ui:define name="content">
			<h:form enctype="multipart/form-data">

				<div align="center">
					<h:outputLabel class="msgValid" value="#{mbFicheStagiaire.messageFiche}"
						style="font-size:18px" />
				</div>

				<div class="bloc1">

					<div class="bloc1info">
					<h:commandButton action="#{mbFicheStagiaire.demo1()}" value="D" />
						<label>Titre</label>
						<p:selectOneMenu class="titre"
							value="#{mbFicheStagiaire.stagiaire.titre}"
							converter="omnifaces.SelectItemsConverter">
							<f:selectItem
								itemLabel="#{mbFicheStagiaire.stagiaire.titre.titre}"
								itemValue="#{mbFicheStagiaire.stagiaire.titre}" />
							<f:selectItems var="tit" value="#{mbFicheStagiaire.listTitres}"
								itemValue="#{tit}" itemLabel="#{tit.titre}" />
						</p:selectOneMenu>
						<label>Nom </label>
						<h:inputText value="#{mbFicheStagiaire.stagiaire.nom}" />
						<label> Prénom </label>
						<h:inputText value="#{mbFicheStagiaire.stagiaire.prenom}" />
						<br /> <label>Adresse</label>
						<h:inputText class="adresse"
							value="#{mbFicheStagiaire.stagiaire.adresse}" />
						<label>Code postal</label>
						<h:inputText class="cp"
							value="#{mbFicheStagiaire.stagiaire.codePostal}" />
						<label>Ville</label>
						<h:inputText value="#{mbFicheStagiaire.stagiaire.ville}" />
						<br /> <label>Téléphone</label>
						<h:inputText class="telephone"
							value="#{mbFicheStagiaire.stagiaire.tel}" />
						<label>Email</label>
						<h:inputText class="email"
							value="#{mbFicheStagiaire.stagiaire.mail}" />
						<br /> <label>Date de naissance</label>
						<h:inputText value="#{mbFicheStagiaire.stagiaire.dateNaissance}"
							style="width:85px">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</h:inputText>
						<label>Ville de naissance</label>
						<h:inputText value="#{mbFicheStagiaire.stagiaire.lieuNaissance}" />
						<label>Pays de naissance</label>
						<h:inputText value="#{mbFicheStagiaire.stagiaire.paysNaissance}" />
					</div>

					<div class="bloc1photo">
						<h:graphicImage class="thephoto img-thumbnail d-block mx-auto"
							url="resources/IMG/#{mbFicheStagiaire.stagiaire.photo}"
							alt="photo du stagiaire" />
						<br />
						<h:inputFile value="#{mbFicheStagiaire.fichier}" />

						<h:commandButton class="btn btn-dark mb-2 buttonPhoto" value="Importer"
							action="#{mbFicheStagiaire.sauvegarderPhoto()}"></h:commandButton>

					</div>
				</div>

				<div class="bloc2">
					<div class="bloc2info">

						<label>Cursus visé</label>
						<p:selectOneMenu class="cursus"
							value="#{mbFicheStagiaire.stagiaire.cursusVise}"
							converter="omnifaces.SelectItemsConverter">
							<f:selectItem
								itemLabel="#{mbFicheStagiaire.stagiaire.cursusVise.nom}"
								itemValue="#{mbFicheStagiaire.stagiaire.cursusVise}" />
							<f:selectItems var="c" value="#{mbFicheStagiaire.listCursus}"
								itemValue="#{c}" itemLabel="#{c.nom}" />
						</p:selectOneMenu>
						<label>Provenance</label>
						<p:selectOneMenu class="provenance"
							value="#{mbFicheStagiaire.stagiaire.provenance}"
							converter="omnifaces.SelectItemsConverter">
							<f:selectItem
								itemLabel="#{mbFicheStagiaire.stagiaire.provenance.nom}"
								itemValue="#{mbFicheStagiaire.stagiaire.provenance}" />
							<f:selectItems var="p" value="#{mbFicheStagiaire.listProvenance}"
								itemValue="#{p}" itemLabel="#{p.nom}" />
						</p:selectOneMenu>
						<label>Niveau Diplôme</label>
						<p:selectOneMenu class="diplome"
							value="#{mbFicheStagiaire.stagiaire.diplome}"
							converter="omnifaces.SelectItemsConverter">
							<f:selectItem
								itemLabel="#{mbFicheStagiaire.stagiaire.diplome.niveau}"
								itemValue="#{mbFicheStagiaire.stagiaire.diplome}" />
							<f:selectItems var="d" value="#{mbFicheStagiaire.listDiplomes}"
								itemValue="#{d}" itemLabel="#{d.niveau}" />
						</p:selectOneMenu>
						<br /> <label>Dernière experience professionnelle</label>
						<h:inputText value="#{mbFicheStagiaire.stagiaire.expPro}" />
						<label>Durée</label>
						<h:inputText value="#{mbFicheStagiaire.stagiaire.dureeExpPro}"
							style="width:60px" />
					</div>
					
					<div class="bloc2CV">
						<a style="margin-left:80px" href="/web/resources/CV/#{mbFicheStagiaire.stagiaire.cv}">Consulter
							le CV de #{mbFicheStagiaire.stagiaire.prenom}</a>
							<br/>
						<h:inputFile value="#{mbFicheStagiaire.cv}" /><br/>
						<h:commandButton class="btn btn-dark mb-2 buttonCV" value="Importer"
							action="#{mbFicheStagiaire.sauvegarderCV()}" />
					</div>
				</div>

				<div class="bloc3">
					<label>Date de passage des tests</label>
					<p:selectOneMenu class="datetest" value="#{mbFicheStagiaire.test}"
						converter="omnifaces.SelectItemsConverter">
						<f:selectItem
							itemLabel="#{of:formatDate(mbFicheStagiaire.test.dateTest, 'dd/MM/yyyy')}"
							itemValue="#{mbFicheStagiaire.test}" />
						<f:selectItems var="test" value="#{mbFicheStagiaire.listTest}"
							itemValue="#{test}"
							itemLabel="#{of:formatDate(test.dateTest, 'dd/MM/yyyy')}" />
					</p:selectOneMenu>
					<label>Note Raisonnement</label>
					<h:inputText value="#{mbFicheStagiaire.stagiaire.noteRaisonnement}"
						class="labelNote" />
					<label>Note Logique</label>
					<h:inputText value="#{mbFicheStagiaire.stagiaire.noteLogique}"
						class="labelNote" />
				</div>

				<div class="bloc4">
					<label>Date de l'entretien</label>
					<p:calendar id="datetime" class="dateEntretien"
						value="#{mbFicheStagiaire.entretien.date}"
						pattern="MM/dd/yyyy HH:mm" />
					<label>Résultat de l'entretien : </label>
					<p:selectOneRadio class="RadButResult" id="acceptation"
						value="#{mbFicheStagiaire.accept}">
						<f:selectItem itemLabel="Accepté" itemValue="true" />
						<f:selectItem itemLabel="Refusé" itemValue="false" />
					</p:selectOneRadio>
				</div>

				<div class="bloc5">
				<h:commandButton action="#{mbFicheStagiaire.demo2()}" value="D" />
					<label>Promotion</label>
					<p:selectOneMenu class="promotion"
						value="#{mbFicheStagiaire.promotion}"
						converter="omnifaces.SelectItemsConverter">
						<f:selectItem itemLabel="#{mbFicheStagiaire.promotion.nom}"
							itemValue="#{mbFicheStagiaire.promotion}" />
						<f:selectItems var="promo"
							value="#{mbFicheStagiaire.listPromotions}" itemValue="#{promo}"
							itemLabel="#{promo.nom}" />
					</p:selectOneMenu>


					<label>Début</label>
					<h:inputText value="#{mbFicheStagiaire.promotion.dateDebut}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:inputText>
					<br /> <label class="labelb5">Dispositif</label>
					<p:selectOneMenu class="dispositif"
						value="#{mbFicheStagiaire.dispositif}" 
						converter="omnifaces.SelectItemsConverter">
						<f:selectItem itemLabel="#{mbFicheStagiaire.dispositif.nom}"
							itemValue="#{mbFicheStagiaire.dispositif}" />
						<f:selectItems var="di"
							value="#{mbFicheStagiaire.listDispositifs}" itemValue="#{di}"
							itemLabel="#{di.nom}" />
					</p:selectOneMenu>
					<label class="labelb5">Financement</label>
					<p:selectOneMenu class="financement"
						value="#{mbFicheStagiaire.stagiaire.financement}"
						converter="omnifaces.SelectItemsConverter">
						<f:selectItem
							itemLabel="#{mbFicheStagiaire.stagiaire.financement.nom}"
							itemValue="#{mbFicheStagiaire.stagiaire.financement}" />
						<f:selectItems var="f"
							value="#{mbFicheStagiaire.listFinancements}" itemValue="#{f}"
							itemLabel="#{f.nom}" />
					</p:selectOneMenu>
					<label class="labelb5">Entreprise</label>
					<p:selectOneMenu class="entreprise"
						value="#{mbFicheStagiaire.stagiaire.entreprise}"
						converter="omnifaces.SelectItemsConverter">
						<f:selectItem
							itemLabel="#{mbFicheStagiaire.stagiaire.entreprise.nom}"
							itemValue="#{mbFicheStagiaire.stagiaire.entreprise}" />
						<f:selectItems var="e" value="#{mbFicheStagiaire.listEntreprises}"
							itemValue="#{e}" itemLabel="#{e.nom}" />
					</p:selectOneMenu>
					<br /> <label>Statut</label>
					<p:selectOneMenu class="statutPro"
						value="#{mbFicheStagiaire.stagiaire.statut}"
						converter="omnifaces.SelectItemsConverter">
						<f:selectItem itemLabel="#{mbFicheStagiaire.stagiaire.statut.nom}"
							itemValue="#{mbFicheStagiaire.stagiaire.statut}" />
						<f:selectItems var="sp" value="#{mbFicheStagiaire.listStatutPro}"
							itemValue="#{sp}" itemLabel="#{sp.nom}" />
					</p:selectOneMenu>
					<label>n° Pôle Emploi</label>
					<h:inputText value="#{mbFicheStagiaire.stagiaire.idPoleEmp}"
						style="width:90px" />
					<label>Inscription à Pôle Emploi</label>
					<h:inputText value="#{mbFicheStagiaire.stagiaire.datePoleEmp}"
						style="width:85px">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:inputText>
					<label>Rémunération</label>
					<p:selectOneMenu class="indemnisation"
						value="#{mbFicheStagiaire.stagiaire.indemnisation}"
						style="width:120px" converter="omnifaces.SelectItemsConverter">
						<f:selectItem
							itemLabel="#{mbFicheStagiaire.stagiaire.indemnisation.nom}"
							itemValue="#{mbFicheStagiaire.stagiaire.indemnisation}" />
						<f:selectItems var="i"
							value="#{mbFicheStagiaire.listIndemnisations}" itemValue="#{i}"
							itemLabel="#{i.nom}" />
					</p:selectOneMenu>
				</div>
				<div class="bloc6 blocCenter">
					<h:commandButton class="btn btn-dark mb-2"
						action="#{mbFicheStagiaire.enregister()}" value=" Enregister " />
				</div>


			</h:form>
		</ui:define>
	</ui:composition>
</h:body>
</html>
