<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui">

<h:head>
	<h:outputStylesheet name="CSS/MasterBootstrap.css"></h:outputStylesheet>
</h:head>
<h:body>
	<div align="center">
		<h:form style="background-color:white" enctype="multipart/form-data">
			<h1>Formulaire de candidature</h1>
			<div class="center-block">

				<h:commandButton action="#{mbNouveauStagiaire.demoFormulaire()}" value="D" style="margin-right:15px"/>
				<label>Titre : </label>
				<p:selectOneMenu class="titre"
					value="#{mbNouveauStagiaire.stagiaire.titre}" style="width:90px"
					converter="omnifaces.SelectItemsConverter">
					<f:selectItem
						itemLabel="#{mbNouveauStagiaire.stagiaire.titre.titre}"
						itemValue="#{mbNouveauStagiaire.stagiaire.titre.titre}"
						noSelectionOption="true" />
					<f:selectItems var="tit" value="#{mbNouveauStagiaire.listTitres}"
						itemValue="#{tit}" itemLabel="#{tit.titre}" />
				</p:selectOneMenu>
				<br /> <br /> <label>Nom : </label>
				<h:inputText value="#{mbNouveauStagiaire.stagiaire.nom}" />
				<br /> <br /> <label> Prénom : </label>
				<h:inputText value="#{mbNouveauStagiaire.stagiaire.prenom}" />
				<br /> <br /> <label>Email : </label>
				<h:inputText class="email"
					value="#{mbNouveauStagiaire.stagiaire.mail}" />
				<br /> <br />
			</div>

			<div class="bloc2">
				<label>Cursus visé : </label>
				<p:selectOneMenu class="cursus"
					value="#{mbNouveauStagiaire.stagiaire.cursusVise}"
					style="width:220px" converter="omnifaces.SelectItemsConverter">
					<f:selectItem itemLabel="#{mbNouveauStagiaire.cursusVise.nom}"
						itemValue="#{mbNouveauStagiaire.stagiaire.cursusVise.nom}"
						noSelectionOption="true" />
					<f:selectItems var="c" value="#{mbNouveauStagiaire.listCursus}"
						itemValue="#{c}" itemLabel="#{c.nom}" />
				</p:selectOneMenu>
			</div>
			<br/>
			<label>CV :</label>
				<div class="bloc2CV">
						<h:inputFile value="#{mbNouveauStagiaire.cv}" /><br/>
				</div>
			<br />
			<div class="bloc6 blocCenter">
				<h:commandButton class="btn btn-dark mb-2"
					action="#{mbNouveauStagiaire.enregistrerFormulaire()}"
					value=" Candidater " />
			</div>
			<div align="center">
				<h:outputLabel value="#{mbNouveauStagiaire.messageFiche}"
					style="font-size:18px" />
			</div>

		</h:form>
	</div>
</h:body>
</html>
