<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
</h:head>

<h:body>
	<ui:composition template="/MasterBootstrap.xhtml">
		<ui:define name="CSS">
			<h:outputStylesheet name="CSS/ListeMatieres.css"></h:outputStylesheet>
		</ui:define>

		<ui:define name="title">Liste des matières</ui:define>

		<ui:define name="content">
			<br/>	<br/>			
			<div class="formulaire" align="center">
				<h2>Liste des matières</h2>
				<h:form>
					<ui:repeat class="nomMatiere" var="matiere" value="#{mbMatiere.matieres}"
						varStatus="varStatus">
						<h:commandLink class="nomMatiere" action="#{mbMatiere.redirect(matiere.id)}"
							value="#{matiere.nom}" />
						<br />
					</ui:repeat>
					<br/>
				</h:form>
			</div>
		</ui:define>
	</ui:composition>
</h:body>
</html>
