<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
	
<h:head>
	<h:outputStylesheet name="CSS/AjouterIntervenant.css">
	</h:outputStylesheet>
</h:head>

<h:body>
	<ui:composition template="/MasterBootstrap.xhtml">
		<ui:define name="title">Liste des intervenants</ui:define>
		<ui:define name="CSS">
			<h:outputStylesheet name="CSS/ListeIntervenants.css"></h:outputStylesheet>
		</ui:define>
		

		<ui:define name="content">
			<h:form>
					<br />
				<h2>Liste des intervenants</h2>
				<br />
				<div class="search">
					<label>Rechercher un intervenant</label>
					<h:inputText style="margin-right:20px;height:30px; margin-top:4px;"
						value="#{mbRechercheIntervenant.nomRecherche}" />
					<h:commandButton style="margin-right:80px"
						class="btn btn-dark mb-2"
						action="#{mbRechercheIntervenant.rechercherUnIntervenant()}"
						value=" OK " update="int" />
				</div>
				<div class="blocCenter">
					<h:outputLabel value="#{mbRechercheIntervenant.message}" />
				</div>
			
			
			</h:form>
			<h:form id="int" class="tableau">
			
				<ui:repeat  var="intervenant"
					value="#{mbRechercheIntervenant.intervenants}">
					<div class="cadreInt">
						<div class="photo">
							<h:graphicImage class="thephoto img-thumbnail d-block mx-auto"
								url="resources/IMG/${intervenant.photo}"
								alt="photo de l'intervenant" />

						</div>
						<div class="identite">
							<h:outputLabel id="prenom" value="#{intervenant.prenom}" />
							<br />
							<h:outputLabel id="nom" value="#{intervenant.nom}" />
						</div>

						<h:commandLink value="afficher"
							action="#{mbRechercheIntervenant.afficherIntervenant(intervenant.id)}">
						</h:commandLink>
					</div>
				</ui:repeat>

			</h:form>
		</ui:define>
	</ui:composition>
</h:body>
</html>
