<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:b="http://bootsfaces.net/ui"> 

<h:head>
<h:outputStylesheet name="CSS/AjouterMatiere.css"></h:outputStylesheet> 
</h:head> 

<h:body> 
<ui:composition template="/MasterBootstrap.xhtml">
		<ui:define name="CSS">
			<h:outputStylesheet name="CSS/AjouterMatiere.css"></h:outputStylesheet>
		</ui:define>
		


<ui:define name="content">
<h2>Liste des futures Réunion d'Information :</h2>
<h:form>
<ui:repeat var="ri" value="#{mbRI.listeRIs}" varStatus="varStatus">
<p:commandLink action="#{mbRI.redirect(ri.id)}"><h:outputText value="#{ri.date}"><f:convertDateTime pattern="dd/MM/yyyy"/></h:outputText></p:commandLink><br/>

</ui:repeat>
     </h:form>
</ui:define>
</ui:composition>
</h:body> 
</html>