<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<h:outputStylesheet name="CSS/NouveauCursus.css"></h:outputStylesheet>
</h:head>

<h:body>
	<ui:composition template="/MasterBootstrap.xhtml">

		<ui:define name="title">Liste des Cursus</ui:define>
		<ui:define name="CSS">
			<h:outputStylesheet name="CSS/NouveauCursus.css"></h:outputStylesheet>
		</ui:define>

		<ui:define name="content">
			<div class="contenu">
				<div class="formulaire">
					<h2>Liste des Cursus</h2>
					<h:form>
						<ui:repeat var="cursus" value="#{mbNouveauCursus.cursi}"
							varStatus="varStatus">
							<p:commandLink action="#{mbNouveauCursus.redirect(cursus.id)}"
								value="#{cursus.nom}" />
							<br />
						</ui:repeat>
					</h:form>
				</div>
			</div>
		</ui:define>
	</ui:composition>
</h:body>
</html>