<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">

<h:head></h:head>

<body>
	<ui:composition template="/MasterBootstrap.xhtml">
		<ui:define name="CSS">
			<h:outputStylesheet name="CSS/ListeCandidats.css"></h:outputStylesheet>
		</ui:define>

		<ui:define name="preRender">
			<f:metadata>
				<f:event listener="#{mbCandidature.onPreRender()}"
					type="preRenderView"></f:event>
			</f:metadata>
		</ui:define>

		<ui:define name="title">Liste des candidats</ui:define>

		<ui:define name="content">
			<h:form>
			<br/>
			<br/>
			<br/>
			<div class="formulaire" align="center">
				<h2 align="center" style="margin-top: 30px">Liste des
					candidatures</h2>
				<h:outputLabel class="compteur" value="#{mbCandidature.compteur}" />
				<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 mx-auto blocRepeat">
					<ui:repeat var="candid" value="#{mbCandidature.candidats}">
						<div class="blocRepeat2">
							<div class="blocNom">
								<h:outputLabel style="margin-right:8px" value="#{candid.prenom}" />
								<h:outputLabel style="margin-right:15px" value="#{candid.nom}" />
								<h:outputLabel value=" ( #{candid.cursusVise.code} )" />
							</div>

							<div class="blocCent">
								<h:outputLabel style="margin-right:40px" value="Inviter à la RI" />
								<p:selectOneMenu value="#{mbCandidature.RISelected}"
									style="width:180px;margin-top: -5px;" converter="omnifaces.SelectItemsConverter">
									<f:selectItem itemLabel="Sélectionnez"
										itemValue="#{mbCandidature.RISelected}"
										noSelectionOption="true" />
									<f:selectItems var="ri" value="#{mbCandidature.listedesRI}"
										itemValue="#{ri}"
										itemLabel=" #{ri.cursus.code}  #{of:formatDate(ri.date, 'dd MMMM yyyy')} " />
								</p:selectOneMenu>
							</div>

							<div>
								<h:commandButton class="btn btn-dark mb-2 buttonV"
									value="Valider"
									action="#{mbCandidature.inscrireUnStagiaireAUneRI()}" >
								<f:setPropertyActionListener value="#{candid}" target="#{mbCandidature.candidatSelected}"></f:setPropertyActionListener>
									</h:commandButton>
								<br />
							</div>
						</div>
					</ui:repeat>
								<h:outputLabel class="msgValid" value="#{mbCandidature.message}" />
				</div>
				</div>
			</h:form>
		</ui:define>

	</ui:composition>

</body>

</html>
