<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">




<ui:composition template="/MasterBootstrap.xhtml">
	<ui:define name="title">Rechercher un stagiaire</ui:define>
	<ui:define name="CSS">
		<h:outputStylesheet name="CSS/ListeStagiaires.css"></h:outputStylesheet>
	</ui:define>
	<ui:define name="preRender">
		<f:metadata>
			<f:event listener="#{mbRechercheStagiaire.clean()}"
				type="preRenderView"></f:event>
		</f:metadata>
	</ui:define>
	<ui:define name="content">
		<h:form id="form">
			<h2 style="margin: 15px auto">Liste des stagiaires</h2>
			<br />
			<div class="blocSearch">
				<div>
					<label style="margin-right: 15px"> Rechercher un stagiaire</label>
					<h:inputText style="margin-right:20px"
						value="#{mbRechercheStagiaire.nomRecherche}" />
					<h:commandButton class="btn btn-dark mb-2"
						action="#{mbRechercheStagiaire.rechercherUnStagiaire()}"
						value=" OK" update="form2" />
				</div>
				<div>
					<label style="margin-right: 15px; margin-left: -180px">Rechercher
						par promo</label>

					<p:selectOneMenu class="prom"
						value="#{mbRechercheStagiaire.promotion}"
						style="width:125px; margin-right:20px; margin-top:2px"
						converter="omnifaces.SelectItemsConverter">
						<!--  <p:ajax listener="#{mbRechercheStagiaire.onPromoChange}" update="stag"/> -->
						<f:selectItem itemLabel="#{mbRechercheStagiaire.promotion.nom}"
							itemValue="#{mbRechercheStagiaire.promotion.nom}"
							noSelectionOption="true" />
						<f:selectItems var="pr"
							value="#{mbRechercheStagiaire.listPromotions}" itemValue="#{pr}"
							itemLabel="#{pr.nom}" />
					</p:selectOneMenu>

					<h:commandButton style="margin-right:80px"
						class="btn btn-dark mb-2"
						action="#{mbRechercheStagiaire.rechercherParPromo()}" value=" OK "
						update="form2" />
				</div>

			</div>



		</h:form>
		<h:form id="form2">
		
			<div class="blocCenter">
				<h:outputLabel value="#{mbRechercheStagiaire.messageRecherche}" />
			</div>
			<div class="tableau" id="tableau">
				<ui:repeat id="stag" var="stg"
					value="#{mbRechercheStagiaire.stagiaires}">
					<div class="cadreStg">
						<div class="photo">
							<h:graphicImage class="thephoto img-thumbnail d-block mx-auto"
								url="resources/IMG/${stg.photo}" alt="photo du stagiaire" />

						</div>
						<div class="identite">
							<h:outputLabel id="prenom" value="#{stg.prenom}" />
							<br />
							<h:outputLabel id="nom" value="#{stg.nom}" />
						</div>
						<h:commandButton id="lienFiche" class="btn btn-outline-dark mb-2"
							action="#{mbRechercheStagiaire.afficherFicheStagiaire(stg)}"
							value="Accéder à sa fiche">
							<f:setPropertyActionListener value="#{stg}"
								target="#{mbRechercheStagiaire.stagiaire}" />
						</h:commandButton>
					</div>
				</ui:repeat>

			</div>
			
		</h:form>
		
	</ui:define>
</ui:composition>
</html>