<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<h:outputStylesheet name="CSS/AjoutPromo.css"></h:outputStylesheet>
</h:head>
<h:body>
	<ui:composition template="/MasterBootstrap.xhtml">

		<ui:define name="title">Liste des Promotions</ui:define>
		<ui:define name="CSS">
			<h:outputStylesheet name="CSS/AjoutPromo.css"></h:outputStylesheet>
		</ui:define>
		<ui:define name="content">
			<div class="formulaire">
				<h:form>
					<f:metadata>
						<f:event listener="#{mbListePromos.preRender()}"
							type="preRenderView"></f:event>
					</f:metadata>
					<div align="center" style="min-height:350px">
						<h:dataTable var="promotion" value="#{mbListePromos.promos}">
							<f:facet name="header">
							<br/>
								<h2>Les Promotions</h2>
							</f:facet>
							<p:column headerText="Nom">
								<h:outputText style="margin-right:25px" value="#{promotion.nom}" />
							</p:column>
							<p:column headerText="Cursus">
								<h:outputText style="margin-right:40px" value="#{promotion.cursus.nom} "></h:outputText>
								&nsbp;
							</p:column>

							<p:column>
								<h:commandButton class="btn btn-outline-dark mb-2"
									value="afficher" action="#{mbListePromos.afficherPromo()}">
									<f:setPropertyActionListener value="#{promotion}"
										target="#{mbListePromos.promo}" />
								</h:commandButton>
							</p:column>
						</h:dataTable>
					</div>
				</h:form>
			</div>
		</ui:define>
	</ui:composition>
</h:body>
</html>
