<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

<h:head>
	<h:outputStylesheet name="CSS/bootstrap.css"></h:outputStylesheet>
	<h:outputStylesheet name="CSS/MasterBootstrap.css"></h:outputStylesheet>
	<title><ui:insert name="title"></ui:insert></title>
	<ui:insert name="CSS"></ui:insert>
	<ui:insert name="preRender"></ui:insert>	
	<link rel="icon" type="image/ico" href="resources/IMG/favicon.ico" />
</h:head> 
<h:body> 

<div id="header" class="container-fluid leFond">

	<div class="row">
		<div id="barreLat" class="col-xs-12 col-sm-3 col-md-3 col-lg-2 laBarLat">
			<div style="">
	
			<a class="w-75 h-75" href="#">
			<h:graphicImage style="width:160px; height:auto" class="img-thumbnail d-block mx-auto" library="IMG" name="logo_ecole.JPG"/>
			</a>
			<h:form>
				<h:commandButton action="#{mbConnection.seDeconnecter()}" class="btn btn-outline-dark mb-2 d-block mx-auto btnDeconnect" value="Déconnexion" />
			</h:form>

			
			<label for="hamburger" id="hamburger-button">&#9776;</label>
     		<input type="checkbox" id="hamburger"/>
			
			  		<div class="col-xs-4 col-sm-12	 col-md-12 col-lg-12 row leMenu">
					
        				<a href="/web/Accueil.xhtml" class="item2">Accueil</a>
					
					<label class="item1">Promotion</label>
						<a href="/web/listePromos.xhtml" class="item2">Liste des Promotions</a>
					
					<label class="item1">Cursus</label>
						<a href="/web/ListeCursus.xhtml" class="item2">Liste des cursus</a>
						<a href="/web/NouveauCursus.xhtml" class="item2">Ajouter un cursus</a>
        				<a href="/web/ajoutPromo.xhtml" class="item2">Programmer un Cursus</a>
						
					<label class="item1">Matière</label>
                    	<a href="/web/ListeMatieres.xhtml" class="item2">Liste des matières</a>
                    	<a href="/web/AjouterMatiere.xhtml" class="item2">Ajouter une matiere</a>
                    	
					<label class="item1">Intervenant</label>
						<a href="/web/ListeIntervenants.xhtml" class="item2">Liste des intervenants</a>
                    	<a href="/web/AjouterIntervenant.xhtml" class="item2">Ajouter un intervenant</a>
                    	<a href="/web/AffecterIntervenant.xhtml" class="item2">Affecter à un cours</a>
                    	
					<label class="item1">Planning</label>
                    	<a href="/web/AjouterRI.xhtml" class="item2">Programmer une RI</a>
                    	<a href="/web/AjouterTest.xhtml" class="item2">Programmer une session de test</a>       	
					
                    <label class="item1">Candidature</label>
                    	<a href="/web/ListeCandidats.xhtml" class="item2">Candidats à inviter</a>
                    	<a href="/web/RechercherUnCandidat.xhtml" class="item2">Rechercher un candidat</a>
				
					<label class="item1">Stagiaire</label>
						<a href="/web/ListeStagiaires.xhtml" class="item2">Rechercher un stagiaire</a>
<!--                     	<a href="/web/AjouterAbsence.xhtml" class="item2">Entrer une absence</a> -->

					<label class="item1">Profil</label>
						<a href="/web/CreationLoginPassword.xhtml" class="item2">Gestion des profils</a>
				</div>
				<div class="docu" align="center">
			<a href="resources/DOC/doc.pdf">?</a>
				</div>
			</div>

		</div>
		
	
		<div id="content" class="col-xs-9 col-sm-9 col-md-9 col-lg-10 leContent">
			<div class=" col-xs-10 col-sm-10 col-md-12 col-lg-12 laScene">
			<ui:insert name="content"></ui:insert>
			</div>
		</div>

	</div>

</div>


</h:body> 
</html>
