<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<h:outputStylesheet name="CSS/masterStyle.css"></h:outputStylesheet>
	<title><ui:insert name="title"></ui:insert></title>

	<ui:insert name="CSS"></ui:insert>

</h:head>
<h:body>

	<div id="header">
		<h:graphicImage class="logo" library="IMG" name="logo_ecole.JPG" />
		
		<nav>
        <ul>
            <li><a href="/web/accueil.xhtml">Accueil</a></li>

            <li class="deroulant"><a href="#">Planning</a>
                <ul class="sous">
                    <li><a href="#">Programmation</a></li>
                    <li><a href="#">Gestion des salles</a></li>
                </ul>
            </li>

            <li class="deroulant"><a href="#">Cursus</a>
                <ul class="sous">
                    <li><a href="/web/ListeMatiere.xhtml">Liste des Matières</a></li>
                    <li><a href="/web/AjouterMatiere.xhtml">Ajouter une Matière</a></li>
                    <li><a href="/web/NouveauCursus.xhtml">Ajouter un Cursus</a></li>                  
                </ul>
            </li>
            <li class="deroulant"><a href="/web/ajoutPromo.xhtml">Promotion</a>
                <ul class="sous">
                    <li><a href="#">Liste des Promotions</a></li>
                    <li><a href="#">Nouvelle promotion</a></li>
                </ul>
            </li>
            <li class="deroulant"><a href="#">Candidature</a>
                <ul class="sous">
                    <li><a href="#">Liste des candidats</a></li>
                    <li><a href="/web/FicheStagiaire.xhtml">Enregister un candidat</a></li>
                </ul>
            </li>
            <li class="deroulant"><a href="#">Stagiaire</a>
                <ul class="sous">
                    <li><a href="/web/ListeStagiaires.xhtml">Liste des stagiaires</a></li>
                    <li><a href="#">Entrer une absence</a></li>
                </ul>
            </li>
            <li class="deroulant"><a href="#">Intervenant</a>
                <ul class="sous">
                    <li><a href="/web/ListeIntervenants.xhtml">Liste des Intervenants</a></li>
                    <li><a href="/web/AffecterIntervenant.xhtml">Affecter à un cours</a></li>
                    <li><a href="/web/AjouterIntervenant.xhtml">Ajouter un intervenant</a></li>
                </ul>
            </li>
        </ul>
    </nav>
	
		
		<div id="deconnect">
		<h:form>
			<label class="utilisateur">Utilisateur :</label>
			<br/>
			<h:outputLabel class="nomUtilisateur" value="A. Dupont" />
			<br />
			<h:commandButton class="btnDeconnect" value="Déconnexion" />
			</h:form>
		</div>
	</div>



	<div id="content">
		<ui:insert name="content"></ui:insert>
	</div>


	<ui:insert name="script"></ui:insert>

</h:body>
</html>
