<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
<h:outputStylesheet name="CSS/AjouterMatiere.css"></h:outputStylesheet> 
</h:head> 

<h:body> 
<ui:composition template="/MasterBootstrap.xhtml">
		<ui:define name="CSS">
			<h:outputStylesheet name="CSS/AjouterMatiere.css"></h:outputStylesheet>
		</ui:define>
		


<ui:define name="content">
<h2>Matière modifiée !</h2>
</ui:define>
</ui:composition>
</h:body> 
</html>