<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
</h:head>

<h:body>
	<ui:composition template="/MasterBootstrap.xhtml">

		<ui:define name="CSS">
			<h:outputStylesheet name="CSS/AjouterIntervenant.css"></h:outputStylesheet>
		</ui:define>
		<ui:define name="preRender">
			<f:metadata>
				<f:event listener="#{mbIntervenant.rechargerIntervenant()}"
					type="preRenderView"></f:event>
			</f:metadata>
		</ui:define>
		<ui:define name="title">Modifier un intervenant</ui:define>

		<ui:define name="content">
			<h:form>
				<h2 align="center" style="margin-top: 25px">Modifier un
					intervenant</h2>


				<div class="center ">

					<div class="blocLabel">
						<h:outputLabel class="lbAjInt" value="Nom" />
						<h:outputLabel class="lbAjInt" value="Prénom" />
						<h:outputLabel class="lbAjInt" value="Adresse" />
						<h:outputLabel class="lbAjInt" value="Code postal" />
						<h:outputLabel class="lbAjInt" value="Ville" />
						<h:outputLabel class="lbAjInt" value="Date de naissance" />
						<h:outputLabel class="lbAjInt" value="Téléphone" />
						<h:outputLabel class="lbAjInt" value="Email" />
					</div>

					<div class="blocInput">
						<h:inputText value="#{mbIntervenant.interv.nom}" />
						<h:inputText value="#{mbIntervenant.interv.prenom}" />
						<h:inputText value="#{mbIntervenant.interv.adresse}" />
						<h:inputText value="#{mbIntervenant.interv.codePostal}" />
						<h:inputText value="#{mbIntervenant.interv.ville}" />
						<h:inputText value="#{mbIntervenant.interv.dateNaissance}">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</h:inputText>
						<h:inputText value="#{mbIntervenant.interv.tel}" />
						<h:inputText value="#{mbIntervenant.interv.mail}" />
					</div>

				</div>

				<div class="center">
					<h:commandButton class="btn btn-dark mb-2"
						action="#{mbIntervenant.modifierIntervenant()}" update="message" value="Modifier"/>
				</div>

				<div id="message" class="center">
					<h:outputLabel value="#{mbIntervenant.message}" />
				</div>

			</h:form>
		</ui:define>
	</ui:composition>

</h:body>
</html>
