<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
</h:head>

<h:body>
	<ui:composition template="/MasterBootstrap.xhtml">
		<ui:define name="CSS">
			<h:outputStylesheet name="CSS/AjouterMatiere.css"></h:outputStylesheet>
		</ui:define>



		<ui:define name="content">

			<h:form>
				<h2>Modifier une Réunion d'Information</h2>
				<h:outputLabel value="Date de la réunion:" />
				<br />
				<br />

				
				<p:calendar id="datetime" value="#{mbRI.ri.date}" pattern="MM/dd/yyyy HH:mm" />
				<br />
				<br />



				<p:selectOneMenu id="cursus" value="#{mbRI.ri.cursus}"
					converter="omnifaces.SelectItemsConverter">
					<f:selectItem itemLabel="#{mbRI.ri.cursus.nom}" itemValue="#{mbRI.ri.cursus}"
						noSelectionOption="true" />
					<f:selectItems var="cursus" value="#{mbRI.cursi}"
						itemValue="#{cursus}" itemLabel="#{cursus.nom}" />
				</p:selectOneMenu>

				<br />
				<br />

				<p:selectOneMenu id="salle" value="#{mbRI.ri.salle}"
					converter="omnifaces.SelectItemsConverter">
					<f:selectItem itemLabel="#{mbRI.ri.salle.num}" itemValue="#{mbRI.ri.salle}"
						noSelectionOption="true" />
					<f:selectItems var="salle" value="#{mbRI.salles}"
						itemValue="#{salle}" itemLabel="#{salle.num}" />
				</p:selectOneMenu>


				<br />

				<h:outputLabel value="#{mbRI.message}" />
				<br />
				<p:commandButton action="#{mbRI.modifierRI()}" value="Modifier" />
			</h:form>
		</ui:define>
	</ui:composition>
</h:body>
</html>