<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">


	<ui:composition template="/MasterBootstrap.xhtml">

		<ui:define name="CSS">
			<h:outputStylesheet name="CSS/NouveauCursus.css"></h:outputStylesheet>
		</ui:define>

		<ui:define name="preRender">
		<f:metadata>
			<f:event listener="#{mbMatiere.rechargerMatiere()}"
				type="preRenderView"></f:event>
		</f:metadata>
		</ui:define>
		<ui:define name="title">Modifier une matière</ui:define>

		<ui:define name="content">
			<div class="blocCursus">
				<h:form>
					<h2 style="margin-bottom: 40px;">Modifier une matière</h2>
					<h:outputLabel value="Nom de la matière " />
					<h:inputText style="width:250px;" value="#{mbMatiere.matiere.nom}" />
					<br />
					<h:outputLabel value="#{mbMatiere.message}" />
					<br />
					<h:commandButton class="btn btn-dark mb-2"
						action="#{mbMatiere.modifierMatiere()}"
						value="Modifier" />
				</h:form>
			</div>
		</ui:define>
	</ui:composition>

</html>
