<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:b="http://bootsfaces.net/ui"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">
	

<h:head></h:head>
<h:body>
	<ui:composition template="/MasterBootstrap.xhtml">
		<ui:define name="CSS">
			<h:outputStylesheet name="CSS/FicheStagiaire.css"></h:outputStylesheet>
		</ui:define>
		<ui:define name="content">
			<h:form>
			
			<div align="center">
				<h:outputLabel value="#{mbNouveauStagiaire.messageFiche}" style="font-size:18px" />
			</div>
			
			<div class="bloc1">
				<label>Titre</label>

				<p:selectOneMenu class="titre" value="#{mbNouveauStagiaire.stagiaire.titre}" 
				style="width:120px" converter="omnifaces.SelectItemsConverter">
				<f:selectItem itemLabel="#{mbNouveauStagiaire.stagiaire.titre.titre}" itemValue="#{mbNouveauStagiaire.stagiaire.titre}"/>
				<f:selectItems var="tit" value="#{mbNouveauStagiaire.listTitres}" itemValue="#{tit}" itemLabel="#{tit.titre}"/>
				</p:selectOneMenu>

				<label>Nom </label>
				<h:inputText value="#{mbNouveauStagiaire.stagiaire.nom}" />
				<label> Prénom </label>
				<h:inputText value="#{mbNouveauStagiaire.stagiaire.prenom}" />
				<br/>
				<label>Adresse</label>
				<h:inputText class="adresse" value="#{mbNouveauStagiaire.stagiaire.adresse}" />
				<label>Code postal</label>
				<h:inputText class="cp" value="#{mbNouveauStagiaire.stagiaire.codePostal}" />
				<label>Ville</label>
				<h:inputText value="#{mbNouveauStagiaire.stagiaire.ville}" />
				<br/>
				<label>Téléphone</label>
				<h:inputText class="telephone" value="#{mbNouveauStagiaire.stagiaire.tel}" />
				<label>Email</label>
				<h:inputText class="email" value="#{mbNouveauStagiaire.stagiaire.mail}" />
				<br/>				
				<label>Date de naissance</label>
 				<h:inputText value="#{mbNouveauStagiaire.stagiaire.dateNaissance}" style="width:85px">	
 				<f:convertDateTime pattern="dd/MM/yyyy"/>
 				</h:inputText>			
				<label>Ville de naissance</label>
				<h:inputText value="#{mbNouveauStagiaire.stagiaire.lieuNaissance}" />			
				<label>Pays de naissance</label>
				<h:inputText value="#{mbNouveauStagiaire.stagiaire.paysNaissance}" />
			</div>
			
			<div class="bloc2">
				<label>Cursus visé</label>
				<p:selectOneMenu class="cursus" value="#{mbNouveauStagiaire.stagiaire.cursusVise}" 
				style="width:220px" converter="omnifaces.SelectItemsConverter">
				<f:selectItem itemLabel="#{mbNouveauStagiaire.stagiaire.cursusVise.nom}" itemValue="#{mbNouveauStagiaire.stagiaire.cursusVise}" />
				<f:selectItems var="c" value="#{mbNouveauStagiaire.listCursus}" itemValue="#{c}" itemLabel="#{c.nom}"/>
				</p:selectOneMenu>						
				<label>Provenance</label>
				<p:selectOneMenu class="provenance" value="#{mbNouveauStagiaire.stagiaire.provenance}" 
				style="width:130px" converter="omnifaces.SelectItemsConverter">
				<f:selectItem itemLabel="#{mbNouveauStagiaire.stagiaire.provenance.nom}" itemVlue="#{mbNouveauStagiaire.stagiaire.provenance}"/>
				<f:selectItems var="p" value="#{mbNouveauStagiaire.listProvenance}" itemValue="#{p}" itemLabel="#{p.nom}"/>
				</p:selectOneMenu>			
				<label>Niveau Diplôme</label>
				<p:selectOneMenu class="diplome" value="#{mbNouveauStagiaire.stagiaire.diplome}" 
				style="width:120px" converter="omnifaces.SelectItemsConverter">
				<f:selectItem itemLabel="#{mbNouveauStagiaire.stagiaire.diplome.niveau}" itemValue="#{mbNouveauStagiaire.stagiaire.diplome}" />
				<f:selectItems var="d" value="#{mbNouveauStagiaire.listDiplomes}" itemValue="#{d}" itemLabel="#{d.niveau}"/>
				</p:selectOneMenu>
				<br/>				
				<label>Dernière experience professionnelle</label>
				<h:inputText value="#{mbNouveauStagiaire.stagiaire.expPro}" />
				<label>Durée (en années)</label>
				<h:inputText value="#{mbNouveauStagiaire.stagiaire.dureeExpPro}" style="width:50px"/>				
			</div>
		
			<div class="bloc6 blocCenter">
				<h:commandButton class="btn btn-dark mb-2" action="#{mbNouveauStagiaire.enregistrer()}" value=" Enregister "/>
			</div>


			</h:form>
		</ui:define>
	</ui:composition>
</h:body>
</html>
