<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<h:outputStylesheet name="CSS/NouveauCursus.css"></h:outputStylesheet>
</h:head>

<h:body>
	<ui:composition template="/MasterBootstrap.xhtml">

		<ui:define name="title">Nouveau Cursus</ui:define>

		<ui:define name="CSS">
			<h:outputStylesheet name="CSS/NouveauCursus.css"></h:outputStylesheet>
		</ui:define>

		<ui:define name="content">
			<div class="contenu">
				<div class="formulaire">
					<h:form>
						<h2>Créer un cursus</h2>
						<div align="center">
						<h:outputLabel style="margin-right:25px" value="Nom du cursus" />&nsbp;
						<p:inputText value="#{mbNouveauCursus.nouveauCursus.nom}" />
						<br />
						<h:outputLabel style="margin-right:25px" value="Sigle du cursus" />
						<p:inputText style="margin-top:25px" value="#{mbNouveauCursus.nouveauCursus.code}" />
						<br />
						<h:outputLabel  style="margin-right:25px"  value="Durée théorique (demi-journée)" />
						<p:inputText style="margin-top:25px;width:80px;text-align:center" value="#{mbNouveauCursus.nouveauCursus.dureeTheoriq}" />
						<br />
						</div>
						<div style="margin-top:25px" align="center">
						<h:commandButton class="btn btn-dark mb-2" action="#{mbNouveauCursus.ajouterCursus()}" value="Enregistrer" />
						</div>
					</h:form>
				</div>
			</div>


		</ui:define>

	</ui:composition>
</h:body>
</html>
