	<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
	<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html">
	
	<h:head></h:head>
	<ui:composition template="/MasterBootstrap.xhtml">
	
	
		<ui:define name="title">Rechercher un candidat</ui:define>
		<ui:define name="CSS">
			<h:outputStylesheet name="CSS/RechercherCand.css"></h:outputStylesheet>
		</ui:define>
		<ui:define name="preRender">
			<f:metadata>
				<f:event listener="#{mbRechercheStagiaire.clean()}"
					type="preRenderView"></f:event>
			</f:metadata>
		</ui:define>
	
		<ui:define name="content">
			<div align="center">
				<h:form>
					<br />
							<br />
					<div class="formulaire">
	
						<h2 style="margin: 15px auto">Rechercher un candidat</h2>
						<br /> <br />
						<div>
							<label style="margin-right: 15px"> Nom du candidat</label>
							<h:inputText style="margin-right:20px"
								value="#{mbRechercheStagiaire.nomRecherche}" />
							<h:commandButton class="btn btn-dark mb-2"
								action="#{mbRechercheStagiaire.rechercherUnStagiaire()}"
								value=" OK" />
						</div>
						<br />
						<h:outputLabel class="msgValid"
							value="#{mbRechercheStagiaire.messageRecherche}" />
	
						<br /> <br /> <br />
	
						<ui:repeat id="stag" var="stg"
							value="#{mbRechercheStagiaire.stagiaires}">
							<h:outputLabel id="prenom" value="#{stg.prenom} &nbsp;" />
							<h:outputLabel style="margin-right:20px" id="nom"
								value="#{stg.nom}" />
							<h:commandButton class="btn btn-outline-dark mb-2"
								action="#{mbRechercheStagiaire.afficherFicheStagiaire(stg)}"
								value="Accéder à sa fiche" />
							<br />
						</ui:repeat>
					</div>
				</h:form>
			</div>
		</ui:define>
	</ui:composition>
	</html>
