<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

<h:head>
	
</h:head> 
<body> 
	<ui:composition template="/MasterBootstrap.xhtml">
		<ui:define name="title">Planning</ui:define>
		<ui:define name="CSS">
			<h:outputStylesheet name="CSS/ScheduleView.css"></h:outputStylesheet>
		</ui:define>
		<ui:define name="content">
			<h:form>
				<h2>PROMOTION #{scheduleView.promo.nom}</h2>
				<hr/>
				<div class="row">
					<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
					<div class="center-block">
				<p:schedule id="schedule" value="#{scheduleView.eventModel}" widgetVar="myschedule" timeZone="GMT+2">
 
		            <p:ajax event="dateSelect" listener="#{scheduleView.onDateSelect}"  update="eventDetails" oncomplete="PF('eventDialog').show();" />
		            <p:ajax event="eventSelect" listener="#{scheduleView.onEventSelect}"  update="eventDetails" oncomplete="PF('eventDialog').show();" />
		            <p:ajax event="eventMove" listener="#{scheduleView.onEventMove}"  />
		            <p:ajax event="eventResize" listener="#{scheduleView.onEventResize}"  />
 
        		</p:schedule>
        		
        		<p:dialog widgetVar="eventDialog" header="Détails Cours" showEffect="clip" hideEffect="clip">
			        <h:panelGrid id="eventDetails" columns="2">
			            <p:outputLabel for="title" value="Cours:" />
			            <p:inputText id="title" value="#{scheduleView.event.title}" required="true" />
			 
			            <p:outputLabel for="from" value="" />
			            <p:calendar id="from" value="#{scheduleView.event.startDate}" timeZone="GMT+2" pattern="dd/MM/yyyy HH:mm"/>
			 <!-- 
			            <p:outputLabel for="to" value="Au:" />
			            <p:calendar id="to" value="#{scheduleView.event.endDate}" timeZone="GMT+2" pattern="dd/MM/yyyy HH:mm"/>
			  -->
			 <!--            <p:outputLabel for="allDay" value="Journée entière:" />
			            <h:selectBooleanCheckbox id="allDay" value="#{scheduleView.event.allDay}" />
			 
			            <p:commandButton type="reset" value="Reset" /> -->
			            <p:commandButton id="addButton" value="Sauvegarder" action="#{scheduleView.addEvent}" oncomplete="PF('myschedule').update();PF('eventDialog').hide();" />
			        </h:panelGrid>
    			</p:dialog>
    			</div>
    			</div>
			</div>
					
			</h:form>
		</ui:define>
	
	</ui:composition>

</body> 
</html>
