
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<h:outputStylesheet name="CSS/masterStyle.css"></h:outputStylesheet>
</h:head>
<h:body>
	<ui:composition template="/MasterBootstrap.xhtml">
		<ui:define name="title">test</ui:define>
		<ui:define name="CSS"></ui:define>
		<ui:define name="content">
			<h:form>
				<h1>salut les gars!!!!</h1>
				<h2>Coucou !</h2>

				<h:commandButton action="#{mbStagiaire.getAllStagiaires}"
					value="voir" />

				<ui:repeat var="pers" value="#{mbStagiaire.stagiaires}">

						<label>#{pers.nom}</label>
				</ui:repeat>
			</h:form>
		</ui:define>
	</ui:composition>
</h:body>
</html>
