<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
<h:outputStylesheet name="CSS/AjouterMatiere.css"></h:outputStylesheet> 
</h:head> 

<h:body> 
<ui:composition template="/master.xhtml">
		<ui:define name="CSS">
			<h:outputStylesheet name="CSS/AjouterMatiere.css"></h:outputStylesheet>
		</ui:define>
		


<ui:define name="content">
<h:form>
<h2>Modifier une matière</h2>
     <h:outputLabel value="Nom de la matière :"/><br/>
     <h:inputText value="#{mbMatiere.matiere.nom}" /><br/>
<h:inputText value="#{mbMatiere.matiere.id}" /><br/>
    <h:outputLabel value="#{mbMatiere.message}" /><br/>
    <h:commandButton action="#{mbMatiere.modifierMatiere(mbMatiere.matiere)}" value="Modifier" />
</h:form>
</ui:define>
</ui:composition>
</h:body> 
</html>
