body{
	
}


.contenu{
	_background-color: red;
	border-radius: 8px;
	margin: 5px;
	_padding: 1%;
	flex-grow: 1;
	display: flex;
	flex-wrap: wrap;
	
}


.formulaire {
	margin: 10px;
	max-width: 45%;
	display: compact;
	_flex-direction:column;
	align-items:center;
	_max-width: 80%;
	_min-height: 50%;
	padding: 4%;
	border-radius: 8px;
	_background-color: #dcf7fa;
	_box-shadow: 0px 10px 46px 7px rgba(157,190,201,0.58);
	box-shadow: 0px 20px 42px 0px rgba(84,116,120,0.5);

	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(202,238,247,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#caeef7', GradientType=0 );

}


h2{
	margin: 0 auto 10% auto;
	text-align:center;
	color: #5ec1cc;
	font-weight: bold;
	text-shadow:aqua;
}

.auCentre{
	margin: auto;
}

.alerte{
	color: red;
}









