@font-face {
font-family: 'open-sans';
src : url(#{resource['police:open-sans.ttf']}) format('truetype')
}


body {
	font-family: 'open-sans';
	max-height: 100vh;
}


.bandeSup {
	background-color: #7CCBD3;	
	height:87px;
	display:flex;
	justify-content: space-between;
}

.utilisateur {
	margin-right:25px;
	margin-top:25px;
	font-size : 18px;	
}


.lienPlanning {
	margin-top:30px;
	font-size : 30px;
	color: black;
}

.lienPlanning:hover {
	text-decoration: none;
	color:salmon;
}


.row {
	margin: 0 auto;
	width:50%;
	justify-content: space-around;
}


@media screen and (max-width:992px) {
	
	.row {
	width:60%;
	}
}

@media screen and (max-width:768px) {
	
	.row {
	width:80%;
	}
}

@media screen and (max-width: 580px){
	
	
	
	
	.row {
	width:90%
	}	
	
}	
