

table{
	align-content: center;
}


.ui-selectonemenu .ui-selectonemenu-trigger {
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    cursor: pointer;
    width: 26px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 3px;
}


h2 {
	margin: auto;
	margin-bottom:12px;
	text-align:center;
	color: #5ec1cc;
	font-weight: bold;
	text-shadow:aqua;

}

.formulaire {
	margin: auto;
	display: flex;
	flex-direction:column;
	_align-items:center;
	min-height: 40%;
	width:75%;
	border-radius: 8px;
	box-shadow: 0px 20px 42px 0px rgba(84,116,120,0.5);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(202,238,247,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#caeef7', GradientType=0 );

}