body{
	
}

.contenu{
	_background-color: red;
	border-radius: 8px;
	margin: 5%;
	padding: 1%;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.col-xs-10{
	border-radius: 8px;
	max-height: 100vh;
	display: flex;
	flex-direction: column;
}

.formulaire {
	margin: auto;
	display: flex;
	flex-direction:column;
	_align-items:center;
	min-height: 40%;
	width:75%;
	border-radius: 8px;
	box-shadow: 0px 20px 42px 0px rgba(84,116,120,0.5);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(202,238,247,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#caeef7', GradientType=0 );

}

h2{
	margin: auto;
	margin-bottom:12%;
	text-align:center;
	color: #5ec1cc;
	font-weight: bold;
	text-shadow:aqua;
}

#j_idt18\:popup_input{
	margin-left: 5%;
	max-width: 70%;
	margin-top: 10%;
}

#j_idt17\:cursus{
	width: 100%;
	margin-bottom: 5%;
}

#j_idt17\:popup_input{
	min-width: 100%;
	padding: 2%;
}

#j_idt18\:j_idt25{
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	background-color: #b4dbde;
}

#j_idt17\:j_idt24{
	_margin: auto;
	margin-top: 10%;
	_background-color: rgba(157,190,201,0.58);
	background-color: #b4dbde;
	padding: 2%;
	width: 100%;
}

.auCentre{
	margin-top: 10%;
}

.alerte{
	color: red;
}

:dataTable{
	background-color: white;
	padding: 10px;
}












