.center {
	display: flex;
	justify-content: center;
	margin-top:50px;

}

h2 {
	margin: auto;
	margin-bottom:12px;
	text-align:center;
	color: #5ec1cc;
	font-weight: bold;
	text-shadow:aqua;

}

.contenu{
	border-radius: 8px;
	margin: 2%;
	padding: 1%;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	
}

.formulaire {
	margin: auto;
	display: flex;
	flex-direction:column;
	_align-items:center;
	min-height: 40%;
	width:75%;
	border-radius: 8px;
	box-shadow: 0px 20px 42px 0px rgba(84,116,120,0.5);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(202,238,247,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#caeef7', GradientType=0 );

}

table {
	align-content: center;
}

.lbAjInt {
	margin-right: 20px;
}

.blocLabel {
	text-align: right;
	display: flex;
	flex-direction: column;
}

.blocLabel label {
	margin-bottom:28px;
}

.blocInput {
	text-align: left;
	display: flex;
	flex-direction: column;
}

.blocInput input {
	margin-bottom:20px;
}