.logoAFC {
	margin-top : 30px;
	margin-bottom : 60px;
}


.blocConnex {
	background-color : #7CCBD3;
	margin:auto;
	display:flex;
	flex-direction : column;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15);
	border-radius: 8px;
	text-align : center;
	padding : 30px;
}

.ttrConnex {
	font-size : 32px;
	margin-bottom : 15px;
}


.lbConnexL {
	margin: 20px;
	margin-top:40px;
}

.lbConnexP {
	margin: 20px;
	margin-top: 0;
}

.inputConnexL {
	margin : 10px;
	margin-left: 35px;
}

.inputConnexP {
	margin : 10px;
}


.ui-selectonemenu label{
	padding-right:15px;
}	