.bloc1 {
	.border : 1px solid hotpink;
	margin : 3px 40px 30px 40px;
	background-color: #ddf6f7;
	padding:10px;
	display: flex;
}


.bloc1info{
	.border :2px solid hotpink;
	width:76%;
}


.bloc2 {
	margin : 30px 40px;
	background-color: #ddf6f7;
	padding-top:20px;
	padding-bottom:10px;
	display: flex;
}


.bloc2info {
	width:76%;
}


.bloc3 {
	.border : 1px solid hotpink;
	margin : 30px 40px;
	background-color: #ddf6f7;
	padding:10px;
}


.bloc4 {
	.border : 1px solid hotpink;
	margin : 30px 40px;
	background-color: #ddf6f7;
	padding:10px;
	padding-bottom:25px;
}


.bloc5 {
	.border : 1px solid hotpink;
	margin : 30px 40px;
	background-color: #ddf6f7;
	padding:10px;
}
	
	
label {
	margin : 12px 2px 15px 25px;
	font-size:15px;
}


input {
	margin : 12px 2px 15px 10px;
	font-size:15px;
}


select {
	margin : 12px 82px 15px 10px;
	font-size:15px;	
}


.titre {
	margin-left:12px;
	margin-top:9px;
	font-size:15px;
	width:115px;
	margin-bottom:20px;
}


.adresse {
	width: 300px;
		margin-bottom:25px;
}


.cp {
	width: 75px;
	text-align:center
}


.telephone {
	width: 135px;
		margin-bottom:25px;
}


.email {
	width: 250px;
}


.buttonPhoto {
	display:block; 
	margin:auto;
}


.cursus {
	margin: 7px 12px 15px 5px;
	font-size:15px;
	width:220px;
	margin-bottom:20px;
}


.provenance {
	margin: 7px 12px 15px 5px;
	width:130px;
}

.diplome {
	margin: 7px 12px 15px 5px;
	width:120px,
}



.buttonCV {
	display:block; 
	margin:auto;
}


.labelb5 {
	margin-right:10px;
	margin-top:15px;
}


.datetest {
	width:180px;
	margin-top:9px;
	margin-left:9px;
}


.labelNote {
	width:50px;
	text-align:center;
}

.dateEntretien {
	margin-left:10px;
	margin-bottom:20px;
}


.RadButResult {
	margin-left:560px;
	margin-top:-41px;
}


.promotion {
	margin-top: 10px;
	margin-left:10px;
	width:120px;
}

.dispositif {
	margin:10px 10px 15px 5px;
}


.financement {
	margin:10px 10px 15px 5px;
}


.entreprise {
	margin:10px 10px 15px 5px;
}


.statutPro {
	margin: 10px 10px 15px 5px;
}


.indemnisation {
	margin: 10px 10px 15px 5px;
}

.thephoto {
	width: 140px;
	height:140px;
	
}
	