.compteur {
	margin: 30px auto;
	display: flex;
	justify-content: center;
	font-size:25px;
	color:salmon;
}

.blocRepeat {
	.width:150%;
	display: flex;
	flex-direction: column;
}

.blocRepeat2 {
	display: flex;
	flex-direction: row;
	margin:8px;
}

.blocNom {	
	font-weight:bold;
	margin: 0 auto;
}


.blocCent {
	.border: 2px solid green;
	
	margin: 0 auto;
}

.buttonV {
	margin-top: -5px;
}


.msgValid {
	text-align:center;
}


h2 {
	margin: auto;
	margin-bottom:12px;
	text-align:center;
	color: #5ec1cc;
	font-weight: bold;
	text-shadow:aqua;

}

.formulaire {
	margin: auto;
	display: flex;
	flex-direction:column;
	_align-items:center;
	min-height: 40%;
	width:75%;
	border-radius: 8px;
	box-shadow: 0px 20px 42px 0px rgba(84,116,120,0.5);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(202,238,247,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#caeef7', GradientType=0 );

}