h2 {
	margin: auto;
	margin-bottom:12px;
	text-align:center;
	color: #5ec1cc;
	font-weight: bold;
	text-shadow:aqua;

}

.search {
	.border : 1px solid hotpink;
	margin : 8px auto;
	display: flex;
	justify-content: center;
	
}
.search label {
	.margin-left :210px;
	margin-right: 30px;
	font-size:20px;
	margin-top:3px;
}

.search input {
	.margin-right: 30px;
}

.search select {
	width: 125px;
	font-size:20px;
}


.tableau {
	display: flex;
	flex-wrap:wrap;
	border : 1px solid #7CCBD3;
	width: 80%;
	min-height : 39em;
	margin : 30px auto;
	box-shadow: 1px 1px 8px #555;
}

.cadreInt {
	background-color: #bbe1e4;
	margin : 0.25%;
	width: 19.5%;
	height : 17em;
	text-align:center;
	border-radius:15px 45px 25px;
}


.identite {
	margin : auto;
	font-size: 20px;
	margin-bottom: 10px;

}

#lienFiche {
	color:#6a99b5;
}

#lienFiche:hover {
	color:white;
}

.photo {
	margin : auto;
	margin-top: 12px;
	width: 50%;
	height:50%;
	_background-color: white;
	margin-bottom: 10px;
	border-style: none;
	border-radius: 2px;
	
}
