h2 {
	text-align:center;
	margin: auto;
	margin-bottom:12px;
	text-align:center;
	color: #5ec1cc;
	font-weight: bold;
	text-shadow:aqua;
}


.blocSearch {
	.border : 1px solid hotpink;
	margin : 2px auto;
	text-align : center;
	display : flex;
	justify-content: space-around;
	
}
.search label {
	.margin-left :200px;
	.margin-right: 30px;
	font-size:18px;
	border : 1px solid green;
}

.search input {
	.margin-right: 18px;
	border : 1px solid cyan;
}


.labelOU {
	font-size : 25px;
}

.prom label {
	.margin-left:0;
	font-size :15px;
	border : 4px solid red;

}


.tableau {
	display: flex;
	flex-wrap:wrap;
	border : 1px solid #7CCBD3;
	width: 80%;
	min-height : 39em;
	margin : 30px auto;
	box-shadow: 1px 1px 8px #555;
}

.cadreStg {
	background-color: #bbe1e4;
	margin : 0.25%;
	width: 19.5%;
	height : 19em;
	text-align:center;
	border-radius:15px 45px 25px;
}


.photo {
	margin : auto;
	margin-top: 12px;
	width: 60%;
	background-color: grey;
	margin-bottom: 10px;
	border : 1px solid black;
	
}



.identite {
	margin : auto;
	font-size: 22px;
	margin-bottom: 10px;

}

.lienFiche {
	color: blue;

}

.lienFiche:hover {
	color:INDIANRED;
	text-decoration: none;
}
