@font-face {
font-family: 'open-sans';
src : url(#{resource['police:open-sans.ttf']}) format('truetype')
}

@font-face {
font-family: 'open-sans-bold';
src : url(#{resource['police:open-sans-bold.ttf']}) format('truetype')
	
}


body {
	font-family: 'open-sans';
}

.leFond {
	background-color: white;
	}


.laBarLat {
	background-color: #7CCBD3;
	top:50;
	left:50;
	width: 100%;
	min-height:100vh;
	
}


.leMenu {

	padding-left:20px;
	display:flex;
	flex-direction:column;
	min-height:100%;
	
}


.item1 {
	margin: 7px 0 1px 0;
	font-size: 17px;
	font-weight:500;
	color: #793d94;
	text-transform:uppercase;
	
}

.item2 {
	margin: 0;
	font-size: 15px;
	color: white;
	text-decoration:none;
}

.item2:hover {
	color:black;
	text-decoration:none;
}

.leContent {
	background-color: white;
	
}


.laScene {
	margin: 17px auto;
	background-color: white;
	border: 1px solid #7CCBD3;
	min-height:96vh;
}


.blocCenter {
	margin-top:8px;
	display:flex;
	justify-content:space-around;
}


.btnDeconnect {
	border-radius:4px;
	margin-top: 16px;
}


.ui-widget {
    font-family: 'open-sans';
    font-size: 16px;
}





input {
	border: 1px solid #b0b0b0;
    border-radius: 3px;
    font-size: 18px;
}

    input:focus {
        box-shadow: 0 0 6px rgba(81, 203, 238, 1);
        transition: all 0.1s ease-in-out;
    }

select {
	border: 1px solid #b0b0b0;
	border-radius: 3px;
    height: 25px;
    font-size: 18px;
}

    select:focus {
        box-shadow: 0 0 6px rgba(81, 203, 238, 1);
        transition: all 0.1s ease-in-out;
    }


.msgValid {
	text-align : center;
	color: #42b347;
	font-size:18px;
}

#hamburger-button, #hamburger {
  display: none;
}

.ui-inputfield {
	padding:2px;
}


.docu {
	border-radius:50px;
	border : 1px solid white;
	width:26px;
	height:26px;
	right:0;
	margin-left:42%;
	margin-top:5%;
	margin-bottom:4px;
}

.docu a {
	color:white;
}

@media screen and (max-width: 580px){
	
	#hamburger-button {
    display: inline-block;
    color: #fff;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
    }
	

	.leMenu {
    display: none;
  }
	#hamburger:checked ~ .leMenu  {
    display: flex;
  }
  
  .laBarLat {
  	min-height:25vh;
  	position:sticky;
  	opacity:30%;
  }

  

}