.contenu{
	border-radius: 8px;
	margin: 5%;
	padding: 1%;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	
}

.formulaire {
	margin: auto;
	display: flex;
	flex-direction:column;
	_align-items:center;
	min-height: 50%;
	padding: 10%;
	border-radius: 8px;
	box-shadow: 0px 20px 42px 0px rgba(84,116,120,0.5);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(202,238,247,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#caeef7', GradientType=0 );

}

h2{
	margin: auto;
	margin-bottom:12%;
	text-align:center;
	color: #5ec1cc;
	font-weight: bold;
	text-shadow:aqua;
}

.infosCursus {
	margin-bottom: 30px;
}

label {
	_font-size: 18px;
	_margin-right: 1em;
}

.inputNom {
	width: 15em;
	font-size: 16px;
	margin-right: 4em;
}

.inputSigle {
	text-align: center;
	width: 5em;
	font-size: 16px;
}

.nomMatiere {
	margin : 2px;
	font-size:18px;
}

#j_idt17\:j_idt21{
	margin-top: 10%;
	margin-left: 2%;
	padding: 2%;
}
#j_idt17\:j_idt25{
	margin-top: 10%;
	margin-left: 2%;
	padding: 2%;
}

#j_idt17\:j_idt30{
	margin-top: 10%;
	margin-left: 2%;
	max-width: 30%;
	padding: 2%;
}

#j_idt17\:j_idt33{
	background-color: #b4dbde;;
	margin-top: 10%;
	padding: 2%;
}

.blocCursus > input:nth-child(3){
	margin-left: 2px;
}




