body{
	
}


.contenu{
	_background-color: red;
	border-radius: 8px;
	margin: 5%;
	padding: 1%;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	max-height: 100vh;
	
}

.col-xs-10{
	border-radius: 8px;
	_background-color: #dcf7fa;
	max-height: 100vh;
	display: flex;
	flex-direction: column;
	
}

.formulaire {
	margin: auto;
	display: flex;
	flex-direction:column;
	align-items:center;
	_max-width: 80%;
	min-height: 50%;
	padding: 15%;
	border-radius: 8px;
	_background-color: #dcf7fa;
	_box-shadow: 0px 10px 46px 7px rgba(157,190,201,0.58);
	box-shadow: 0px 20px 42px 0px rgba(84,116,120,0.5);

	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(202,238,247,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#caeef7', GradientType=0 );

}

legend{
	margin: 10px;
}

h2{
	margin: 0 auto 10px auto;
	text-align:center;
	color: #5ec1cc;
	font-weight: bold;
	text-shadow:aqua;
}

#j_idt17\:cursus{
	width: 100%;
	margin-bottom: 5%;
}

#j_idt17\:popup_input{
	min-width: 100%;
	padding: 2%;
}


#j_idt17\:j_idt24{
	_margin: auto;
	margin-top: 10%;
	_background-color: rgba(157,190,201,0.58);
	background-color: #b4dbde;
	padding: 2%;
	width: 100%;
}

.auCentre{
	margin: auto;
}

.alerte{
	color: red;
}








