<!DOCTYPE html>
<html ng-app="myApp" ng-controller="MainPopupCtrl as main" style="height: 100%;" class="ng-scope" lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}.ng-animate-shim{visibility:hidden;}.ng-anchor{position:absolute;}</style>
        <title translate="app_title" class="ng-scope">Utilisation des cookies</title>
    	<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=Edge, Chrome=1"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="">
       	<meta name="description" content="Personnalisez le Pop-up Alerte Cookie pour l'assortir au style de votre site.">
        <link href="https://eurocookie.galilcloud.wixapps.net/common/plugins/wix/images/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
        <link href="popup_data/fontFace.css" media="screen" rel="stylesheet" type="text/css">
        <script type="text/javascript" src="popup_data/wix-private.js"></script>
        <link href="popup_data/de543741d079df4f243ea943ac437df8.css" media="all" rel="stylesheet" type="text/css"><style wix-style="" data-layout="popup-style" ng-non-bindable="">
	body, .main-popup, .bar-size{
		background-color: rgba(255,255,255,1);
	}
            
	.popup-title , .popup-title-bar{
		font:normal normal normal 17px/1.3em "open sans",sans-serif;;
		style.popupTitleFont;
		color: #A1DCF2;
	}
	
	.popup-body , .popup-body-bar{
		font:normal normal normal 12px/1.3em "open sans",sans-serif;;
		font:normal normal normal 14px/1.3em "open sans",sans-serif;;
		color: #5f9dca;
	}
	
	.popup-links a , .popup-links-2 a , 
	.popup-links-bar a , .popup-links-bar-2 a{
		text-decoration: none;
	    font:normal normal normal 12px/1.3em "open sans",sans-serif;;
	    style.linksFont;
		color: #5f9dca;
	}

	.popup-btn , .popup-btn-bar{
		font:normal normal normal 12px/1.3em "open sans",sans-serif;;
	    font:normal normal normal 14px/1.3em "open sans",sans-serif;;
	    color: #5f9dca;
	    background: rgba(255,255,255,1);
	    -webkit-border-radius: 0px;
	    -moz-border-radius: 0px;
	    border-radius: 0px;
	    border: 1px solid #5f9dca;
	}

	.popup-btn:hover , .popup-btn-bar:hover {
	    background: rgba(227,227,227,1);
	}
	
	.svgFill {
        fill: #5f9dca;    
        fill-rule: evenodd;
    }
</style>    <style wix-style="">.Title{ font:normal normal normal 36px/1.1em play,sans-serif; } .Menu{ font:normal normal normal 16px/1.1em "open sans",sans-serif; } .Page-title{ font:normal normal bold 26px/1.1em "open sans",sans-serif; } .Heading-XL{ font:normal normal normal 44px/1.1em "open sans",sans-serif; } .Heading-L{ font:normal normal normal 36px/1.3em "open sans",sans-serif; } .Heading-M{ font:normal normal bold 22px/1.2em "open sans",sans-serif; } .Heading-S{ font:normal normal normal 17px/1.3em "open sans",sans-serif; } .Body-L{ font:normal normal normal 16px/1.3em "open sans",sans-serif; } .Body-M{ font:normal normal normal 14px/1.3em "open sans",sans-serif; } .Body-S{ font:normal normal normal 12px/1.3em "open sans",sans-serif; } .Body-XS{ font:normal normal normal 11px/1.3em "open sans",sans-serif; } }</style><link type="text/css" rel="stylesheet" href="worker_data/css.css" id="wix-google-fonts"><link type="text/css" rel="stylesheet" href="worker_data/languages.css"><style>:focus {
    outline: none;
}

.js-focus-visible .focus-visible:focus,
.js-focus-visible .focus-visible:focus ~ .wixSdkShowFocusOnSibling
{
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.9), 0 0 1px 2px #3899EC;
}
</style><script src="worker_data/focus-visible.js" id="dynamic_script_FOCUS_VISIBLE"></script></head>
    <body ng-controller="WidgetPopupCtrl" role="dialog" ng-keydown="main.checkClose($event)" class="ng-scope js-focus-visible"><div popup="" style="height: 100%; background-color: inherit "><!-- ngIf: main.isBar() --><!-- ngInclude: '/pages/popup/views/popup-bar.html' --><div ng-if="main.isBar()" ng-include="'/pages/popup/views/popup-bar.html'" role="dialog" aria-describedby="__popup-body" ng-attr-aria-label="{{main.settings.title.text}}" class="bar-size ng-scope" ng-class="{'change-direction' : main.settings.textAlignment == main.constants.ALIGNMENT_RIGHT}" aria-label="Utilisation des cookies"><div class="main-popup-out-bar ng-scope">
	<div class="popup-connect-in-bar" ng-style="{'text-align':main.settings.textAlignment}" style="text-align: left;">
	    <div style="display:-webkit-flex; display: flex">
	        <div class="popup-text-content-side-bar" style="-webkit-align-items: center; align-items: center;" ng-class="{'moveMargin' : main.settings.textAlignment == main.constants.ALIGNMENT_RIGHT}">
	            <div style="display: table;height: 100%">
	                <div style="display: table-cell;vertical-align: middle;">
	                    <div class="popup-title-bar ng-binding ng-hide" ng-bind="main.settings.title.text" ng-show="main.settings.title.show">Utilisation des cookies</div>
	                    <span id="__popup-body" class="popup-body-bar ng-binding" ng-bind-html="main.settings.textBody|nl2br">EcoleQL
 Formation utilise des cookies afin d'optimiser votre expérience sur ce 
site et de vous proposer des offres adaptées à vos intérêts et vos 
besoins<br>En poursuivant votre navigation, vous acceptez l'utilisation de ces cookies.</span>
	                    <span role="button" class="popup-links-bar ng-hide" ng-show="main.settings.link1.show &amp;&amp; main.isValidLink(main.settings.link1.url)">
		                    <a href="javascript:void(0)" ng-click="main.openWindow(main.settings.link1.url,main.constants.LINK1)" ng-bind="main.settings.link1.text" class="ng-binding">En savoir plus</a>
		                </span>
	                    <div role="button" class="popup-links-bar-2 ng-hide" ng-show="main.settings.link2.show &amp;&amp; main.isValidLink(main.settings.link2.url)">
	                        <a href="javascript:void(0)" ng-click="main.openWindow(main.settings.link2.url,main.constants.LINK2)" ng-bind="main.settings.link2.text" class="ng-binding">Comment supprimer les cookies</a>
	                    </div>
	                </div>
	            </div>
	        </div>
	        <div style="display:-webkit-flex; display:flex; -webkit-align-items: center; align-items: center;" ng-click="main.closePopup(true)" ng-touchstart="main.closePopup(true)" ng-touchend="main.closePopup(true)">
	            <span class="popup-warp-button-bar">
	            	<a role="button" href="javascript:void(0)" class="popup-btn-bar ng-binding" ng-bind="main.getTextBtn()">Ok</a>
	            </span>
	        </div>
	    </div>
	    <span style="display:none" class="ng-binding"></span>
	</div>
</div>	</div><!-- end ngIf: main.isBar() -->
<!-- ngIf: !main.isBar() --></div>
    	<script type="text/javascript">
        		        var initialState = {
    			APP_NAME	 	: 'myApp',
	            settings  	 	: {"lang":"fr","popupSize":0,"textAlignment":"left","title":{"show":0,"text":"Utilisation des cookies"},"button":{"text":"Ok","radius":0},"layout":"bottom","link1":{"show":0,"text":"En savoir plus","url":"https:\/\/www.aboutcookies.org\/"},"link2":{"show":0,"text":"Comment supprimer les cookies","url":"https:\/\/www.aboutcookies.org\/how-to-delete-cookies\/"},"textLink":"Gestion et utilisation des cookies","textBody":"EcoleQL Formation utilise des cookies afin d'optimiser votre exp\u00e9rience sur ce site et de vous proposer des offres adapt\u00e9es \u00e0 vos int\u00e9r\u00eats et vos besoins.\r\nEn poursuivant votre navigation, vous acceptez l'utilisation de ces cookies.","showPopup":0,"showGDPR":2,"textLinkAlignment":"left","cookiefound":false},
	            constants 	 	: {"ALIGNMENT_LEFT":"left","ALIGNMENT_CENTER":"center","ALIGNMENT_RIGHT":"right","WIDTH_STANDARD_POPUP":300,"HEIGHT_STANDARD_POPUP":200,"WIDTH_LARGE_POPUP":400,"MAX_HEIGHT_LARGE_POPUP":600,"TOP_LAYOUT":"top","BOTTOM_LAYOUT":"bottom","POPUP_LAYOUT":"popup","DEFAULT_TEXT_BUTTON":"popup_tab_popup_text_button_default_text","DEFAULT_LANGUAGE":"en","LINK1":"link1","LINK2":"link2","ACCEPT":"accept"} || {}	,
	            design    	 	: {"popup":{"color":{"name":"bgColor","type":"ColorPickerWithOpacity","value":"color-5","opacity":"100"}},"popupTitle":{"color":{"name":"popupTitleColor","type":"ColorPicker","value":"color-1"},"font":{"name":"popupTitleFont","type":"FontStylePicker","value":"Heading-S"}},"popupBody":{"color":{"name":"textBodyColor","type":"ColorPicker","value":"color-1"},"font":{"name":"textBodyFont","type":"FontStylePicker","value":"Body-S"}},"buttonText":{"color":{"name":"buttonTxtColor","type":"ColorPicker","value":"color-1"},"font":{"name":"buttonTxtFont","type":"FontStylePicker","value":"Body-S"}},"buttonBackground":{"color":{"name":"buttonBgColor","type":"ColorPickerWithOpacity","value":"color-5","opacity":"100"}},"buttonHover":{"color":{"name":"buttonHoverColor","type":"ColorPickerWithOpacity","value":"color-5","opacity":"100"}},"buttonCorners":{"radius":{"name":"buttonCornersRadius","type":"Spinner","value":"5"}},"links":{"color":{"name":"linksColor","type":"ColorPicker","value":"color-1"},"font":{"name":"linksFont","type":"FontStylePicker","value":"Body-S"}},"link":{"color":{"name":"textLinkColor","type":"ColorPicker","value":"color-8"},"font":{"name":"textLinkFont","type":"FontStylePicker","value":"Body-M"}}},
	            popupSize    	: {"mobileWidth":"100%","mobileHeight":"100%","standardWidth":300,"standardHeight":200,"largeWidth":400,"maxLargeHeight":600},
                APP_ID 			: '1372a040-d836-0c7b-3e08-b0a4086de594',
	        	origin  		: 'app_widget',
	        	locationParams	: document.location.search
			}
    	</script>
		<script type="text/javascript" src="popup_data/de543741d079df4f243ea943ac437df8.js"></script>	
	
</body></html>